<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="topics-vocabulary1"></ion-back-button>
        </ion-buttons>
        <ion-title>Adjectives</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-slides pager="true" [options]="slideOptsOne">

            <ion-slide *ngFor="let slide of slides">

                <div class="slide-img-padding">
                    <img [src]="slide.img">
                </div>
                <div>
                    <h3 [innerHTML]="slide.titulo"></h3>
                </div>
                <div>
                    <h6 [innerHTML]="slide.fonetica"></h6>
                </div>
                <div>
                    <h4 [innerHTML]="slide.opposite"></h4>
                </div>
            </ion-slide>
        </ion-slides>

    </ion-card>

    <footer>
        <ion-list>
            <ion-item *ngFor="let track of playlist" (click)="start(track)">
                <ion-label>
                    {{ track.name }}
                </ion-label>
            </ion-item>
        </ion-list>
    </footer>
</ion-content>