<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="upper-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Vocabulary Topics</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <a href="clothes2">
            <ion-grid href="clothes1">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/thingswear.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Clothes</h4>
                        <p>Total 21 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

        <a href="the-body1">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/partsBody.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The body</h4>
                        <p>Total 20 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="relationship">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/relationship.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Feelings</h4>
                        <p>Total 8 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="cinema">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/cinema.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The weather</h4>
                        <p>Total 12 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="transport">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/transportt.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The media</h4>
                        <p>Total 21 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="personality1">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/describing.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Air travel</h4>
                        <p>Total 25 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="personality1">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/describing.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Illness</h4>
                        <p>Total 25 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

    </ion-content>
</ion-app>