<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="upper-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Vocabulary Topics</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <a href="clothes2">
            <ion-grid href="clothes2">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/thingswear.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Clothes</h4>
                        <p>Total 21 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

        <a href="body2">
            <ion-grid href="body2">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/partsBody.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The body</h4>
                        <p>Total 20 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="feelings">
            <ion-grid href="feelings">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/feeling.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Feelings</h4>
                        <p>Total 10 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="extreme-weather">
            <ion-grid href="extreme-weather">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/theWeather.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The weather</h4>
                        <p>Total 9 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="illnesses">
            <ion-grid href="illnesses">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/illnesses.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Illness</h4>
                        <p>Total 9 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

    </ion-content>
</ion-app>