<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Present Perfect</ion-card-title>
                </ion-card-header>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>
                                <strong>Have you seen</strong> his new film? <br> Yes, <strong>I've seen</strong> all his films.
                            </td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td>
                                <strong>Have you ever read</strong> a Russian novel? <br>
                                <strong>Sarah's never worked</strong> in a big company.
                            </td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>
                                <strong>Have you finished</strong> the exercise? <br> Your parents <strong>have arrived</strong>. They're in the living room.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ol>
                    <li>We use the present perfect when we talk or ask about things that have happenned in the past, but when we don't say when.</li>
                    <li>We often use the present perfect with ever (= at any time in your life) and never (= at no time in your life).</li>
                    <li>We also use the present perfect to talk about something that has recently happenned.</li>
                </ol>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>full form</th>
                            <th>contraction</th>
                            <th>past participlpe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><br> <br> [+]</td>
                            <td>
                                I <strong>have</strong> <br> You <strong>have</strong> <br> He / She / It <strong>has</strong> <br> We <strong>have</strong> <br> They <strong>have</strong>
                            </td>
                            <td>
                                I<strong>'ve</strong> <br> You<strong>'ve</strong> <br> He / She / It<strong>'s</strong> <br> We<strong>'ve</strong> <br> They<strong>'ve</strong>
                            </td>
                            <td><br><br> <strong>seen</strong> that film.</td>
                        </tr>

                        <tr>
                            <td><br> <br> [--]</td>
                            <td>
                                I <strong>have not</strong> <br> You <strong>have not</strong> <br> He / She / It <strong>has not</strong> <br> We <strong>have not</strong> <br> They <strong>have not</strong>
                            </td>
                            <td> I <strong>haven't</strong> <br> You <strong>haven't</strong> <br> He / She / It <strong>hasn't</strong> <br> We <strong>haven't</strong> <br> They <strong>haven't</strong>
                            </td>
                            <td>
                                <br> <br> <strong>seen</strong> that film.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>To make the present perfect use have/has + the past participle of the verb.</li>
                    <li>'s = has in present perfect.</li>
                    <li>Past participles of regular verbs are the same as the past simple.</li>
                    <li>Past participle of irregular verbs are sometimes the same as the past simple, e.g. read, but sometimes are different, e.g. seen.</li>
                </ul>



            </ion-card>
        </div>
    </ion-content>
</ion-app>