<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Second conditional</ion-card-title>
                </ion-card-header>

                <h6>if + past, would / wouldn't</h6>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><strong>If</strong> a bull <strong>attacked</strong> me, I<strong>'d run</strong> away. <br>
                                <strong>If</strong> you <strong>didn't go</strong> to bed so late, you <strong>wouldn't be</strong> so tired in the morning<br>
                                <strong>Would</strong> you <strong>take</strong> the manager's job <strong>if</strong> they <strong>offered</strong> it to you?
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><strong>If</strong> I <strong>had</strong> more time, I <strong>'d do</strong> more exercise. <br> I
                                <strong>'d do</strong> more exercise <strong>if</strong> I <strong>had</strong> more time.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><strong>If</strong> we <strong>went</strong> by car, we <strong>could stop</strong> at places on the way<br>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <ol>
                    <li>Use if + past to talk about an imaginary or hypothetical future situation and would/wouldn't + verb to talk about the consequence.</li>
                    <ul>
                        <li>would/wouldn't is the same for all persons.</li>
                        <li>Contractions: 'd = would (I'd, you'd, etc.); wouldn't = would not.</li>
                    </ul>
                    <li>The if-clause can come first or second. If the if-clause comes first, we usually put a comma before the next clause.</li>
                    <li>You can also use could + infinitive instead of would + infinitive in the other clause.</li>
                </ol>

                <div class="alert alert-danger" role="alert">
                    <strong>be in second conditionals</strong> <br> With the verb be you can use were (instead of was) after I/he/she/it, e.g. <br> If Jack <strong>was / were</strong> here, he'd know what to do. <br>
                    <br> Use were (not was) in the expression If I <strong>were</strong> you, ...
                </div>

            </ion-card>
        </div>
    </ion-content>
</ion-app>