<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Word order of phrasal verbs</ion-card-title>
                </ion-card-header>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> What time do you <strong>get up</strong>? <br> I don't usually <strong>go out</strong> during the week.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><strong>Put on</strong> your coat. <strong>Put</strong> your coat <strong>on</strong>. <br>
                                <strong>Turn off</strong> the TV. <strong>Turn</strong> the TV <strong>off</strong>.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>I'm <strong>looking for</strong> my glasses. <br> Have you found your glasses? No, I<strong>'m</strong> still <strong>looking for</strong> them.
                            </td>
                        </tr>

                    </tbody>
                </table>

                <ul>
                    <li>A phrasal verb = verb + particle (preposition or adverb),e.g. get up, turn on, look for. </li>
                    <ol>
                        <li>Some phrasal verbs don't have an object, e.g. get up, go out.</li>
                        <li>Some phrasal verbs have an object and are separable. With these phrasal verbs you can put the article (on, off, etc.) before or after the object.</li>
                    </ol>
                    <li>When the object is a pronoun (me, it, him, etc.) it always goes between the verb and particle. <br> Here's your coat. <strong>Put it on</strong>.
                    </li>
                    <li>Some phrasal verbs have an object and are inseparable, e.g. look for. With these tenses phrasal verbs the verb (e.g. look) and the particle (e.g. for) are never separated.</li>
                </ul>



            </ion-card>
        </div>
    </ion-content>
</ion-app>