<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Word order in questions</ion-card-title>
                </ion-card-header>

                <h6>Questions with do/does/did in present simple and past simple</h6>

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Question word</th>
                            <th scope="col">Auxiliary</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Infinitive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>Do</td>
                            <td>you</td>
                            <td>live with your parents?</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Did</td>
                            <td>you</td>
                            <td>have a holiday last year?</td>
                        </tr>
                        <tr>
                            <th scope="row">What</th>
                            <td>did</td>
                            <td>they</td>
                            <td>talk about?</td>
                        </tr>
                        <tr>
                            <th scope="row">Where</th>
                            <td>does</td>
                            <td>your sister</td>
                            <td>work?</td>
                        </tr>
                        <tr>
                            <th scope="row">When</th>
                            <td>did</td>
                            <td>you</td>
                            <td>start studying English?</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Use <strong>ASI</strong> (Auxiliary, Subject, Infinitive) and <strong>QUASI</strong> (Question word, Auxiliary, Subject, Infinitive) to remember word order in questions.
                    </li>
                </ul>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>Word order in be questions:</strong></h6>
                                <p class="card-text"> Remember the word order in questions with be. Put be before the subject. Where are you from? What's your name? Is he Spanish?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </ion-content>
</ion-app>