<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading1"></ion-back-button>
            </ion-buttons>
            <ion-title>Private swimming classes</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <h5>
            Celine is still very young, but she wants to learn how to swim. Her family has a pool in the backyard but she never learned how to swim so she never had the chance to enjoy the pool. Her parents decided to play for some private swimming classes. During
            the beginning of the summer, twice a week, on Tuesday and Thursdays, Gabriella the swimming teacher would come at Celine's house to teach her. They would practise in Celine's pool. Learning how to swim is harder than Celine thought. It requires
            a lot of practice. She asks her parents to have more classes. Her parents accepts to pay Gabriella for one more day of the week, on the Friday. For the rest of the summer, Celine has three classes a week, which is more than enough. At the
            end of the summer, she is a really good swimmer and she feels confident about her skills. These swimming classes were really helpful.
        </h5>

        <ion-button (click)="textToSpeech(text)">Listen</ion-button>
        <ion-button (click)="textToPause()">Stop</ion-button>



    </ion-content>



</ion-app>