<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Present simple</ion-card-title>
                </ion-card-header>

                <ion-text [innerHTML]="'PRESENTSIMPLE.title' | translate"></ion-text>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Affirmative</th>
                            <th scope="col">Interrogative</th>
                            <th scope="col">Negative</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I think</td>
                            <td>Do I think?</td>
                            <td>I do not think</td>
                        </tr>
                        <tr>
                            <td>You think</td>
                            <td>Do you think?</td>
                            <td>You do not think?</td>
                        </tr>

                        <tr>
                            <td>He thinks</td>
                            <td>Does he think?</td>
                            <td>He does not think</td>
                        </tr>

                        <tr>
                            <td>She thinks</td>
                            <td>Does she think?</td>
                            <td>She does not think</td>
                        </tr>

                        <tr>
                            <td>It thinks</td>
                            <td>Does it think?</td>
                            <td>It does not think</td>
                        </tr>

                        <tr>
                            <td>We think</td>
                            <td>Do we think?</td>
                            <td>We do not think</td>
                        </tr>

                        <tr>
                            <td>They think</td>
                            <td>Do they think?</td>
                            <td>They do not think</td>
                        </tr>
                    </tbody>
                </table>


                <ion-text [innerHTML]="'PRESENTSIMPLE.explanation' | translate"></ion-text>

                <div class="alert alert-danger" role="alert">
                    <ion-text [innerHTML]="'PRESENTSIMPLE.becareful' | translate"></ion-text>
                </div>

                <div class="card">
                    <h4 class="card-header">
                        <ion-text [innerHTML]="'PRESENTSIMPLE.examples' | translate"></ion-text>
                    </h4>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <ion-text [innerHTML]="'PRESENTSIMPLE.example1' | translate"></ion-text>
                                </h6>
                                <p class="card-text"> 1. He drinks tea at breakfast.
                                    <br>2. She only eats fish.
                                    <br>3. They watch television regularly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <ion-text [innerHTML]="'PRESENTSIMPLE.example2' | translate"></ion-text>
                                </h6>
                                <p class="card-text">1. We catch the bus every morning.
                                    <br>2. It rains every afternoon in the hot season.
                                    <br>3. They drive to Monaco every summer.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <ion-text [innerHTML]="'PRESENTSIMPLE.example3' | translate"></ion-text>
                                </h6>
                                <p class="card-text">1. Water freezes at zero degrees.
                                    <br>2. The Earth revolves around the Sun.
                                    <br>3. Her mother is Peruvian.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <ion-text [innerHTML]="'PRESENTSIMPLE.example3' | translate"></ion-text>
                                </h6>
                                <p class="card-text">1. His mother arrives tomorrow.
                                    <br>2. Our holiday starts on the 26th March</p>
                            </div>
                        </div>
                    </div>
                </div>

                <ion-text [innerHTML]="'PRESENTSIMPLE.title2' | translate"></ion-text>

                <ion-text [innerHTML]="'PRESENTSIMPLE.explanation1' | translate"></ion-text>
            </ion-card>
        </div>


    </ion-content>
</ion-app>