<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="pre-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Grammar topics II</ion-title>

        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-card href="order-word">
            <ion-card-header>
                <ion-card-title>Word order in questions</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Always use a subject pronoun (you, he, etc.) wi... </ion-card-content>
        </ion-card>
        <ion-card href="time-sequencers">
            <ion-card-header>
                <ion-card-title>Time sequencers</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The word order for present simple questions... </ion-card-content>
        </ion-card>
        <ion-card href="relative-clauses">
            <ion-card-header>
                <ion-card-title>Defining relative clauses</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                can and can't are the same for all the person... </ion-card-content>
        </ion-card>
        <ion-card href="something">
            <ion-card-header>
                <ion-card-title>Something, anything, etc</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use subject pronouns when the noun is the... </ion-card-content>
        </ion-card>
        <ion-card href="infinitive">
            <ion-card-header>
                <ion-card-title>Uses of the infinitive</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We can use be going to + verb (infinitive) to... </ion-card-content>
        </ion-card>
        <ion-card href="gerund">
            <ion-card-header>
                <ion-card-title>Uses of the gerund</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="haveto">
            <ion-card-header>
                <ion-card-title>Have to, don’t have</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="should">
            <ion-card-header>
                <ion-card-title>Should / shouldn’t</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="conditional1">
            <ion-card-header>
                <ion-card-title>First conditional</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="possessive-pronouns">
            <ion-card-header>
                <ion-card-title>Possessive pronouns</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="conditional2">
            <ion-card-header>
                <ion-card-title>Second conditional</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="passive">
            <ion-card-header>
                <ion-card-title>Passive</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="usedto">
            <ion-card-header>
                <ion-card-title>Used to / didn’t use to</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="might">
            <ion-card-header>
                <ion-card-title>Might / might not</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="expmovement">
            <ion-card-header>
                <ion-card-title>Expressing movement</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="order-phrasal">
            <ion-card-header>
                <ion-card-title>Word order of phrasal verbs</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="neither">
            <ion-card-header>
                <ion-card-title>So, neither + auxiliaries</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="past-perfect">
            <ion-card-header>
                <ion-card-title>Past Perfect</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="reported-speech">
            <ion-card-header>
                <ion-card-title>Reported (or indirect) speech</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
    </ion-content>
</ion-app>