<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>First conditional</ion-card-title>
                </ion-card-header>

                <h6>if + present, will / won't</h6>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><strong>If</strong> I <strong>miss</strong> the last bus, I<strong>'ll get</strong> a taxi. <br>
                                <strong>If</strong> you <strong>tell</strong> her the truth, she <strong>won't believe</strong> you. <br> What <strong>will</strong> you <strong>do if</strong> he <strong>doesn't call</strong> you?
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><strong>If</strong> you <strong>don't go</strong>, she <strong>won't be</strong> very pleased. <br> She <strong>won't be</strong> very pleased <strong>if</strong> you <strong>don't go</strong>.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><strong>If</strong> you <strong>miss</strong> the last bus, <strong>get</strong> a taxi. <br>
                                <strong>If</strong> you <strong>miss</strong> the last bus, you <strong>can get</strong> a taxi.
                        </tr>

                    </tbody>
                </table>

                <ol>
                    <li>Use if + present to talk about a possible situation and will/won't + verb to talk about the consequence.</li>
                    <li>The if-clause can come first or second. If the if-clause comes first, we usually put a comma before the next clause.</li>
                    <li>You can also use the imperative or can + infinitive instead of will + infinitive in the other clause.</li>
                </ol>
            </ion-card>
        </div>
    </ion-content>
</ion-app>