<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-title>Imperatives</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Imperatives</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><strong>Open</strong> the door. <strong>Turn</strong> right. <br> <strong>Don't worry. Don't stop.</strong></td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td><strong>Let's go</strong> home. <strong>Let's wait</strong> <br> <strong>Let’s study</strong> English</td>
                        </tr>
                    </tbody>
                </table>

                <ol>
                    <li>Use imperatives to give orders or instructions.</li>
                    <ol type="a">
                        <li>[+] imperatives = verb (infinitive).<br> [-] imperatives = don't + verb (infinitive).</li>
                        <li>Add please to be polite: Open the door, please.</li>
                        <li>We often use be + adjectives in imperatives: Be quite, Be careful, etc.</li>
                        <li>Don't use a pronoun with imperatives: Be quiet.</li>

                    </ol>
                    <li>Use Let's + verb (infinitive) to make suggestions. <br> Use Let's not + verb (infinitive) to make a negative suggestion: Let's not wait.</li>

                </ol>

            </ion-card>
        </div>
    </ion-content>
</ion-app>