<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Defining relative clauses with who, which, where</ion-card-title>
                </ion-card-header>

                <p> A cook is a person <strong>who</strong> makes food.
                    <br>That's the woman <strong>who</strong> won the lottery last year.
                    <br>A clock is something <strong>which</strong> tells the time.
                    <br> Is that the book <strong>which</strong> everybody's reading?
                    <br> A post office is a place <strong>where</strong> you can buy stamps?
                    <br>That's the restaurant <strong>where</strong> I had dinner last week.
                </p>

                <ul>
                    <li>Use defining relative clauses to explain what a person, thing or place is or does.</li>
                    <li>Use who for a person, which for a thing and where for place.</li>
                </ul>



                <div class="alert alert-danger" role="alert">
                    <strong>That</strong> <br> You can use that instead of who or which. <br> She's the girl <strong>who / that</strong> works with my brother. <br> It's a thing <strong>which / that</strong> connects two computers.
                </div>



            </ion-card>
        </div>


    </ion-content>
</ion-app>