<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Verb be</ion-card-title>
                </ion-card-header>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Full form</th>
                            <th>Contraction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I am your teacher</td>
                            <td>I'm your teacher</td>
                        </tr>
                        <tr>
                            <td>You are in room 7</td>
                            <td>You're in room 7</td>
                        </tr>
                        <tr>
                            <td>He is Mike</td>
                            <td>He's Mike</td>
                        </tr>
                        <tr>
                            <td>I am not American</td>
                            <td>I'm not American</td>
                        </tr>

                    </tbody>
                </table>

                <ul>
                    <li>Always use a subject pronoun (you, he, etc.) with a verb, e.g. <b>They</b>'re teachers
                        <br><b>NOT</b> <s>Are teachers.</s></li>
                    <li>Always use capital I, e.g. He's Mike and <b>I</b>'m Sally <b>NOT</b> <s>i'm Sally.</s></li>
                    <li>you = singular and plural.</li>
                    <li>Use he for a man, she for a woman, and it for a thing.</li>
                    <li>Use they for people and things.</li>
                    <li>We use contractions in conversation and in informal writing.</li>
                    <li>In questions, put am, are, is <b>before</b> I, you, he.</li>
                </ul>
            </ion-card>
        </div>
    </ion-content>
</ion-app>