<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Verb be</ion-card-title>
                </ion-card-header>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Full form</th>
                            <th>Contraction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I am your teacher</td>
                            <td>I'm your teacher</td>
                        </tr>
                        <tr>
                            <td>You are in room 7</td>
                            <td>You're in room 7</td>
                        </tr>
                        <tr>
                            <td>He is Mike</td>
                            <td>He's Mike</td>
                        </tr>
                        <tr>
                            <td>I am not American</td>
                            <td>I'm not American</td>
                        </tr>

                    </tbody>
                </table>

                <ion-text [innerHTML]="'VERBBE.explanation' | translate"></ion-text>

            </ion-card>
        </div>
    </ion-content>
</ion-app>