<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Possessive pronouns</ion-card-title>
                </ion-card-header>

                <p>Whose coat is it? It's my coat. It's <strong>mine.</strong> <br> Whose jacket is it? It' your jacket. It's <strong>yours.</strong> <br> Whose phone is it? It's his phone. It's <strong>his.</strong> <br>
                </p>
                <ul>
                    <li>Use possessive pronouns to talk about possession.</li>
                    <li>Use Whose to ask about possession.</li>
                    <li>Don't use possessive pronouns with a noun.</li>
                </ul>




                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Possessive adjectives</th>
                            <th>Possessive pronouns</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>This is <strong>my</strong> seat</td>
                            <td>It's <strong>mine</strong></td>
                        </tr>
                        <tr>
                            <td>This is <strong>your</strong> seat</td>
                            <td>It's <strong>yours</strong></td>
                        </tr>
                        <tr>
                            <td>This is <strong>his</strong> seat</td>
                            <td>It's <strong>his</strong></td>
                        </tr>
                        <tr>
                            <td>This is <strong>her</strong> seat</td>
                            <td>It's <strong>hers</strong></td>
                        </tr>

                        <tr>
                            <td>This is <strong>its</strong> seat</td>
                            <td>It's <strong>its</strong></td>
                        </tr>

                        <tr>
                            <td>This is <strong>our</strong> seat</td>
                            <td>It's <strong>ours</strong></td>
                        </tr>

                        <tr>
                            <td>This is <strong>their</strong> seat</td>
                            <td>It's <strong>theirs</strong></td>
                        </tr>
                    </tbody>
                </table>

            </ion-card>
        </div>
    </ion-content>
</ion-app>