<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="testess"></ion-back-button>
            </ion-buttons>
            <ion-title>Teste vocabulário</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="swiper-no-swiping">


        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <img src="/assets/img/house/bathroom.jpg">
                    <h6>What is the name of this part of the house?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">bathroom</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">bedroom</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">garage</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">kitchen</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <img src="/assets/img/food/jam.png">
                    <h6>What is it?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">egg</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">jam</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">bread</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">sugar</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <img src="/assets/img/weather/snowing.jpg">
                    <h6>How is the weather in the picture?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">It's raining</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">It's sunny</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">It's cold</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">It's snowing</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>What is the first day of the week?</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <ion-button expand="full" color="primary" (click)="wrongAlert()">Tuesday</ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-button expand="full" color="primary" (click)="acerto()" (click)="presentAlert()">Sunday</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-button expand="full" color="primary" (click)="wrongAlert()">Saturday</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-button expand="full" color="primary" (click)="wrongAlert()">Monday</ion-button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding ">

                    <img src="/assets/img/job/dentist.jpg">
                    <h6>What is the man's profession in the picture?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="wrongAlert()">doctor</ion-button>
                            </ion-col>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">dentist</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="wrongAlert()">lawyer</ion-button>
                            </ion-col>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="wrongAlert()">manager</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding ">

                    <img src="/assets/img/buildings/church.jpg">
                    <h6>Where is this?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="wrongAlert()">mall</ion-button>
                            </ion-col>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="wrongAlert()">department</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="wrongAlert()">art gallery</ion-button>
                            </ion-col>
                            <ion-col size="6 ">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">church</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding ">

                    <img src="/assets/img/things/diactionary.jpg">
                    <h6>What is this?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">a dictionary</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">a diary</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">a key</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">a magazine</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding ">

                    <img src="/assets/img/activities/lunch.jpg">
                    <h6>What is this boy doing?</h6>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="showResult()">having lunch</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="showResult()">watching tv</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="showResult()">doing <br> exercise</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="showResult()">having <br> breakfast</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-content>
</ion-app>