<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Quantifiers</ion-card-title>
                </ion-card-header>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>uncontable (singular)</th>
                            <th>short answers</th>
                            <th>full answers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <br> <br> <br> <strong>How much</strong> sugar do you eat?</td>
                            <td><strong>
                           A lot. <br>
                           <br>   Quite a lot. <br>
                             A little. <br>
                            <br> Not much. <br>
                              None.
                            </strong></td>
                            <td>I eat <strong>a lot of</strong> sugar. <br> I eat <strong>quite a lot of</strong> sugar. <br> I eat <strong>a little</strong> sugar. <br> I don't eat <strong>much</strong> sugar. <br> I don't eat <strong>any</strong> sugar.
                            </td>
                        </tr>
                        <tr>
                            <th>countable (plural)</th>
                        </tr>
                        <td> <br> <br> <br> <strong>How much</strong> sweets do you eat?</td>
                        <td><strong>
                       A lot. <br>
                       <br>   Quite a lot. <br>
                         A few. <br>
                        <br> Not many. <br>
                          None.
                        </strong></td>
                        <td>I eat <strong>a lot of</strong> sweets. <br> I eat <strong>quite a lot of</strong> sweets. <br> I eat <strong>a few</strong> sweets. <br> I don't eat <strong>many</strong> sweets. <br> I don't eat <strong>any</strong> sweets.
                        </td>


                    </tbody>
                </table>

                <ul>
                    <li>We use How much...? with uncontable (U) nouns and How many...? with plural countable (C) nouns.</li>
                    <li>We use: <br> a lot (of) with C and U nouns for a <strong>big quantity.</strong> <br> quite a lot (of) for a <strong>medium quantity.</strong> <br> a little / not...much with U nouns for a <strong>small quantity.</strong> <br> a few
                        / not...many with C plural nouns for a <strong>small quantity.</strong> <br> not...any (none in short answers) for <strong>zero quantity.</strong>
                    </li>
                </ul>

                <h6><strong>a lot of and much/many</strong></h6>
                <ul>
                    <li>In [+] sentences we usually use a lot of.</li>
                    <li>In [-] sentences and [?], we usually use much and many. <br> I don't drink <strong>much</strong> water. <br> Do you drink <strong>much</strong> coffee?
                    </li>
                    <li>It is also possible to use a lot of in [-] and [?]: <br> Do you drink <strong>a lot of</strong> coffee? <br> I don't eat <strong>a lot of</strong> vegetables.</li>
                </ul>

            </ion-card>
        </div>
    </ion-content>
</ion-app>