<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Objec pronouns</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">subject pronoun</th>
                            <th scope="col">object pronoun</th>
                            <th scope="col">Examples</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I</td>
                            <td><strong>me</strong></td>
                            <td>Can you help <strong>me</strong>?</td>
                        </tr>
                        <tr>
                            <td>you</td>
                            <td><strong>you</strong></td>
                            <td>I know <strong>you</strong>.</td>
                        </tr>

                        <tr>
                            <td>he</td>
                            <td><strong>him</strong></td>
                            <td>She isn't in love with <strong>him</strong>.</td>
                        </tr>

                        <tr>
                            <td>she</td>
                            <td><strong>her</strong></td>
                            <td>He phones <strong>her</strong> every day.</td>
                        </tr>

                        <tr>
                            <td>it</td>
                            <td><strong>it</strong></td>
                            <td>I don't like <strong>it</strong>.</td>
                        </tr>

                        <tr>
                            <td>we</td>
                            <td><strong>us</strong></td>
                            <td>Wait for <strong>us</strong>!</td>
                        </tr>

                        <tr>
                            <td>they</td>
                            <td><strong>them</strong></td>
                            <td>Call <strong>them</strong> this evening.</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Pronouns take place of nouns.</li>
                    <li>We use <strong>subject</strong> pronouns when the noun is the subject of a verb (i.e. the person who does the action): <strong>John</strong> is a doctor. <strong>He</strong> lives in London.</li>
                    <li>We use <strong>object</strong> pronouns when the noun is the object of a verb (i.e. the person who receives the action): Anna meets <strong>John</strong>. She invites <strong>him</strong>to a concert.</li>
                    <li>Object pronouns go <u>after</u> the verb: <br> I <strong>love you</strong>. <strong>NOT</strong> <s>I you love</s>.</li>
                    <li>We also use object pronouns after prepositions (with, to, from, etc.): <br> Listen to <strong>me</strong>! I'm in love with <strong>her</strong>. <strong>NOT</strong> <s>I'm in love with she</s></li>
                </ul>

            </ion-card>
        </div>
    </ion-content>
</ion-app>