<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-text [innerHTML]="'ADVERBS.manner' | translate"></ion-text>
                </ion-card-header>

                <h6>
                    They drive <strong>dangerously.</strong> <br> He dresses <strong>fashionably.</strong> <br> She eats very <strong>quickly.</strong> <br> I work <strong>hard.</strong> We speal English <strong>well.</strong>
                </h6>

                <ion-text color="black" [innerHTML]="'ADVERBS.manner1' | translate"></ion-text>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>adjective</th>
                            <th>adverb</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                slow <br> quick <br> bad <br> careful
                            </td>
                            <td>
                                slow<strong>ly</strong> <br> quick<strong>ly</strong> <br> bad<strong>ly</strong> <br> careful<strong>ly</strong>
                            </td>
                            <td> <br> <br> + -ly</td>
                        </tr>

                        <tr>
                            <td>healthy <br> easy</td>
                            <td>health<strong>ily</strong> <br> eas<strong>ily</strong></td>
                            <td>consonant + y > -ily</td>
                        </tr>

                        <tr>
                            <td>possible</td>
                            <td>possib<strong>ly</strong></td>
                            <td>le > ly</td>
                        </tr>

                        <tr>
                            <td>good <br> fast <br> hard </td>
                            <td><strong>well <br> fast <br> hard </strong></td>
                            <td>
                                <tr><br> irregular</tr>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <ion-text [innerHTML]="'ADVERBS.manner2' | translate"></ion-text>

                <ion-card-header>
                    <ion-text [innerHTML]="'ADVERBS.modifying' | translate"></ion-text>
                </ion-card-header>

                <h6>It isn't <strong>very</strong> expensive. <br> People are <strong>quite</strong> formal. <br> She drives <strong>incredibly</strong> fast. <br> They speak <strong>really</strong> slowly. </h6>

                <ion-text [innerHTML]="'ADVERBS.modifying2' | translate"></ion-text>

                <div class="alert alert-info" role="alert">
                    <ion-text [innerHTML]="'ADVERBS.alertinfo' | translate"></ion-text>
                </div>

            </ion-card>
        </div>
    </ion-content>
</ion-app>