<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Uses of the gerund.</ion-card-title>
                </ion-card-header>



                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><strong>Eating</strong> outside in the summer makes me feel good. <br> My idea of happiness is <strong>getting up</strong> late and <strong>not going</strong> to work.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>I love <strong>reading</strong> in bed. <br> I hate <strong>not getting</strong> to the airport early.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>I'm thinking of <strong>buying</strong> a new car. <br> He left without <strong>saying</strong> goodbye.</td>
                        </tr>

                    </tbody>
                </table>

                <ul>
                    <li>The gerund is the base form of the verb + ing. It can be positive or negative.</li>
                    <li>Use the gerund:</li>
                    <ol>
                        <li>as the subject or object of a sentence.</li>
                        <li>after some verbs, e.g. like, love, hate, enjoy, etc.</li>
                        <li>after prepositions.</li>
                    </ol>
                    <li>Remember the spelling rules for the -ing form.</li>
                </ul>
            </ion-card>
        </div>
    </ion-content>
</ion-app>