<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="beginner"></ion-back-button>
            </ion-buttons>
            <ion-title>Texts</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-content>

        <ion-card href="text31">
            <ion-card-header>
                <ion-card-title>The Boarded Window</ion-card-title>
                <ion-card-subtitle> by Ambrose Bierce</ion-card-subtitle>

            </ion-card-header>
            <ion-card-content>
                Ben woke up early this morning. It's his tenth... </ion-card-content>
        </ion-card>
        <ion-card href="text32">
            <ion-card-header>
                <ion-card-title>The Return of a Private</ion-card-title>
                <ion-card-subtitle> by Hamlin Garland</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Lily goes to school. Lily is so glad! Today it... </ion-card-content>
        </ion-card>
        <ion-card href="text33">
            <ion-card-header>
                <ion-card-title>Furious girl</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Mr. Henderson is a dentist. He has worked at... </ion-card-content>
        </ion-card>
        <ion-card href="text34">
            <ion-card-header>
                <ion-card-title>Skating competitions</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Lizzy and Alice are twins. They look alike... </ion-card-content>
        </ion-card>
        <ion-card href="text35">
            <ion-card-header>
                <ion-card-title>Relaxing place</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                There's a small coffee shop that I love visit... </ion-card-content>
        </ion-card>
        <ion-card href="text36">
            <ion-card-header>
                <ion-card-title>There's no milk</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Today Mrs. Jenkins has a problem - she has no... </ion-card-content>
        </ion-card>
        <ion-card href="text37">
            <ion-card-header>
                <ion-card-title>School trip</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Today my class and I went on a school trip. We... </ion-card-content>
        </ion-card>
        <ion-card href="text38">
            <ion-card-header>
                <ion-card-title>My room</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Hello! Welcome to my home! This is my room. I... </ion-card-content>
        </ion-card>
        <ion-card href="text39">
            <ion-card-header>
                <ion-card-title>Having fun with family</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                My name is Lisa. I am a schoolgirl. I am in third... </ion-card-content>
        </ion-card>
        <ion-card href="text40">
            <ion-card-header>
                <ion-card-title>Movies</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Do you like movies? What is your favorite movie... </ion-card-content>
        </ion-card>

    </ion-content>
</ion-app>