<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="beginner"></ion-back-button>
            </ion-buttons>
            <ion-title>Vocabulary Topics</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <a href="housework">
            <ion-grid href="housework">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/housework.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Housework</h4>
                        <p>Total 12 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

        <a href="animals">
            <ion-grid href="animals">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/animals.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Animals</h4>
                        <p>Total 30 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="expressingMovement">
            <ion-grid href="expressingMovement">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/confusingverbs.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Confusing verbs</h4>
                        <p>Total 11 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="numbers">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/expressingmovement.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Expressing movement</h4>
                        <p>Total 12 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="numbers">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/get.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Get</h4>
                        <p>Total 21 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="things">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/verbforms.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Verbs forms</h4>
                        <p>Total 25 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="adjective">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/describing.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Describing people</h4>
                        <p>Total 17 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="numbers">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/thingswear.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Things you wear</h4>
                        <p>Total x words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>


    </ion-content>
</ion-app>