ion-toolbar {
    --ion-background-color: #7d4c47;
}

img {
    margin-left: -5%;
    width: 150px;
    height: 110px;
}

a {
    color: inherit;
}

ion-title {
    color: #ffffff;
    margin-left: 12%;
}

h4 {
    text-align: center;
    margin-top: 20%;
}

p {
    text-align: center;
}

.seta {
    margin-top: 10%;
}