<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="pre-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Vocabulary Topics</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <a href="housework">
            <ion-grid href="housework">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/housework.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Housework</h4>
                        <p>Total 12 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

        <a href="animals">
            <ion-grid href="animals">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/animals.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Animals</h4>
                        <p>Total 30 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="confusing">
            <ion-grid href="confusing">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/confusingverbs.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Confusing verbs</h4>
                        <p>Total 22 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="expressing-movement">
            <ion-grid href="expressing-movement">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/expressingmovement.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Expressing movement</h4>
                        <p>Total 12 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="appearance">
            <ion-grid href="appearance">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/describing.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Appearance</h4>
                        <p>Total 8 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="personality">
            <ion-grid href="personality">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/describing.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Personality</h4>
                        <p>Total 8 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="things-wear">
            <ion-grid href="things-wear">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/thingswear.jfif">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Things you wear</h4>
                        <p>Total 14 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>


    </ion-content>
</ion-app>