<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading"></ion-back-button>
            </ion-buttons>
            <ion-title>Sisters</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>Lizzy and Alice are twins. They look alike. They are eleven years old. They are tall and slim. They have short fair hair and blue eyes. They love to dance and sing. Lizzy and Alice have many friends. They go to school together. Tonight
                    they have a song contest at school. Lizzy and Alice want to win in this contest. Lizzy plays the piano and sings. And Alice sings and dances. Their parents look at them and clap their hands. How lucky they are! They win first place
                    in the contest.</h5>
                <ion-button *ngFor="let sound of soundboardData" ion-item [ngStyle]="{'color': sound.button.color}" (click)="playSound(sound.soundPath)">
                    {{ sound.button.name }}
                </ion-button>
            </ion-slide>

            <ion-slide>
                <h5>Lizzy e Alice são gêmeas. Elas se parecem. Elas têm onze anos. Elas são altas e magras. Têm os cabelos claros curtos e os olhos azuis. Elas gostam de dançar e cantar. Lizzy e Alice têm muitos amigos. Elas vão para a escola juntas. Hoje
                    à noite elas têm um concurso de música na escola. Lizzy e Alice querem ganhar neste concurso. Lizzy toca piano e canta. E Alice canta e dança. Seus pais olham para elas e batem palmas. Como elas são sortudas! Elas ganham o primeiro
                    lugar no concurso.</h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>