<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Something, anything, nothing, etc.</ion-card-title>
                </ion-card-header>



                <table class="table table-borderless">
                    <tbody>
                        <h6>Have to, don't have to</h6>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>I <strong>have to</strong> get up at seven every day. <br> She <strong>has to</strong> speak English at work.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>We <strong>don't have to</strong> wear a uniform at this school. <br> He <strong>doesn't have to</strong> work on Saturdays.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td><strong>Do</strong> I <strong>have to</strong> buy a grammar book? <br> What time <strong>does</strong> she <strong>have to</strong> get up in the morning?
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Use have to + verb (infinitive) to talk about rules and obligations.</li>
                    <li>Use don't have to + verb (infinitive) to say that there is no obligation, or that something is not necessary.</li>
                    <li>Use do / does to make questions and negatives. <strong>Do</strong> I have to go? </li>
                    <li>Don't contract have or has.</li>
                </ul>

                <table class="table table-borderless">
                    <tbody>
                        <h6>Must / mustn't</h6>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>You <strong>must</strong> do your homework tonight. <br> She <strong>must</strong> tidy her room before she goes out.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>You <strong>mustn't</strong> leave your bags here. <br> I <strong>mustn't</strong> forget to call her tonight.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td>Is there <strong>anything</strong> in the fridge?</td>
                        </tr>
                        <tr>
                            <th scope="row">[X]</th>
                            <td><strong>Must</strong> I buy a grammar book? <br> When <strong>must</strong> we register for the exam?
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Use must + verb (infinitive without to) to talk about rules and obligations.</li>
                    <li>must / mustn't is the same for all persons.</li>
                    <li>Use mustn't + verb (infinitive without to) to say something is prohibited.</li>
                </ul>

                <div class="alert alert-danger" role="alert">
                    <strong>must and have to</strong> <br> Must and have to are very similar, but there is a small difference. We normally use have to for a <strong>general</strong> obligation (a rule at work/school or a law). We normally use must for
                    a <strong>personal</strong> obligation (one that the speaker imposes), e.g. a teacher to students or a parent to a child. But oftem you can use either must or have to.

                    <br>
                    <br>

                    <strong>mustn't and don't have to</strong> <br> Mustn't and don't have to have completely different meanings. Compare:
                    <br> You <strong>mustn't</strong> go = It's prohibited. Don't go. <br> You <strong>don't have to</strong> go = You can go if you want to, but it's not obligatory.
                </div>

            </ion-card>
        </div>
    </ion-content>
</ion-app>