<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="topics-vocabulary1"></ion-back-button>
        </ion-buttons>
        <ion-title>The family</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h4>Definitions:</h4>

    <div>
        <h6>When you have children, you are a <strong>parent</strong>.</h6>
        <ion-button fill="outline" (click)="parentToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6>If you are a male parent, you are a <strong>father</strong>.</h6>
        <ion-button fill="outline" (click)="fatherToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6>If you are female parent, you are a <strong>mother</strong>.</h6>
        <ion-button fill="outline" (click)="motherToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6>If one of your children is a boy, he is your <strong>son</strong>.</h6>
        <ion-button fill="outline" (click)="sonToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6>If one of your children is a girl, she is your <strong>daughter</strong>.</h6>
        <ion-button fill="outline" (click)="daughterToSpeech(text)">Listen</ion-button>
    </div>


    <div>
        <h6>When a couple gets married, the man is the <strong>husband</strong> and the woman is his <strong>wife</strong>.</h6>
        <ion-button fill="outline" (click)="husbandToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6>A <strong>brother</strong> and <strong>sister</strong> both have the same parents.</h6>
        <ion-button fill="outline" (click)="brotherToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6>One collective word to describe brothers and sisters is <strong>siblings</strong>. However this word is normally only used in written English, not orally.</h6>
        <ion-button fill="outline" (click)="siblingsToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>grandparents:</strong> the parents of your parents</h6>
        <ion-button fill="outline" (click)="grandparentsToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>grandfather:</strong> the father of your father/mother</h6>
        <ion-button fill="outline" (click)="grandfatherToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>grandmother:</strong> the mother of your father/mother</h6>
        <ion-button fill="outline" (click)="grandmotherToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>grandchildren:</strong> the children of your children</h6>
        <ion-button fill="outline" (click)="grandchildrenToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>grandson:</strong> the son of one of your children</h6>
        <ion-button fill="outline" (click)="grandsonToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>granddaughter:</strong> the daughter of one of your children</h6>
        <ion-button fill="outline" (click)="granddaughterToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>great grandfather:</strong> the father of your grandfather/grandmother</h6>
        <ion-button fill="outline" (click)="greatgrandfatherToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>great grandmother:</strong> the mother of your grandfather/grandmother</h6>
        <ion-button fill="outline" (click)="greatgrandmotherToSpeech(text)">Listen</ion-button>
    </div>


    <div>
        <h6><strong>uncle:</strong> the brother (or brother-in-law) of your mother/father</h6>
        <ion-button fill="outline" (click)="uncleToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>aunt:</strong> the sister (or sister-in-law)of your mother/father</h6>
        <ion-button fill="outline" (click)="auntToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>cousin:</strong> the child of your aunt/uncle</h6>
        <ion-button fill="outline" (click)="cousinToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>nephew:</strong> the male child of your brother/sister</h6>
        <ion-button fill="outline" (click)="nephewToSpeech(text)">Listen</ion-button>
    </div>

    <div>
        <h6><strong>niece:</strong> the female child of your brother/sister</h6>
        <ion-button fill="outline" (click)="nieceToSpeech(text)">Listen</ion-button>
    </div>





</ion-content>