ion-toolbar {
    --ion-background-color: #aa7974;
    text-align: center;
}

ion-title {
    margin-left: -13%;
}

ion-content {
    h5 {
        margin-top: 5%;
    }
    ion-button {
        height: 25px;
        min-width: 100px;
    }
    button {
        background-color: #aa7974;
        color: white;
        margin-left: 60%;
    }
    ion-input {
        float: right;
    }
}