<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="beginner"></ion-back-button>
            </ion-buttons>
            <ion-title>Grammar Topics</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-card href="verb-be">
            <ion-card-header>
                <ion-card-title>Verb Be</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Always use a subject pronoun (you, he, etc.) wi... </ion-card-content>
        </ion-card>
        <ion-card href="possessives">
            <ion-card-header>
                <ion-card-title>Possessives</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="adjectives">
            <ion-card-header>
                <ion-card-title>Adjectives</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                When we use an adjective with a noun, the adj... </ion-card-content>
        </ion-card>
        <ion-card href="imperatives">
            <ion-card-header>
                <ion-card-title>Imperatives</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Use imperatives to give orders or instructions... </ion-card-content>
        </ion-card>
        <ion-card href="present-simple">
            <ion-card-header>
                <ion-card-title>Present Simple</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The Simple Present is used to describe habits.. </ion-card-content>
        </ion-card>
        <ion-card href="word-order">
            <ion-card-header>
                <ion-card-title>Word order</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The word order for present simple questions... </ion-card-content>
        </ion-card>
        <ion-card href="prepositions">
            <ion-card-header>
                <ion-card-title>Prepositions</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use at for times of the day, night, the week... </ion-card-content>
        </ion-card>
        <ion-card href="frequency">
            <ion-card-header>
                <ion-card-title>Frequency</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Adverbs of frequency go <u>before</u> all main verb... </ion-card-content>
        </ion-card>
        <ion-card href="can">
            <ion-card-header>
                <ion-card-title>Can / Can't</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                can and can't are the same for all the person... </ion-card-content>
        </ion-card>
        <ion-card href="present-continuous">
            <ion-card-header>
                <ion-card-title>Present Continuous</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The Simple Present is used to describe habits... </ion-card-content>
        </ion-card>
        <ion-card href="object-pronouns">
            <ion-card-header>
                <ion-card-title>Object Pronouns</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use subject pronouns when the noun is the... </ion-card-content>
        </ion-card>
        <ion-card href="past-simple">
            <ion-card-header>
                <ion-card-title>Past Simple</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The past simple is the same for all persons... </ion-card-content>
        </ion-card>
        <ion-card href="plural">
            <ion-card-header>
                <ion-card-title>Plural nouns</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use there is / there are to say that somebody... </ion-card-content>
        </ion-card>
        <ion-card href="countable">
            <ion-card-header>
                <ion-card-title>Countable nouns</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                There are two kinds of nouns in English: coun... </ion-card-content>
        </ion-card>
        <ion-card href="quantifiers">
            <ion-card-header>
                <ion-card-title>Quantifiers</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use How much...? with uncontable (U) and... </ion-card-content>
        </ion-card>
        <ion-card href="comparatives">
            <ion-card-header>
                <ion-card-title>Comparative adjectives</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Use comparative adjectives + than to compare... </ion-card-content>
        </ion-card>
        <ion-card href="superlative">
            <ion-card-header>
                <ion-card-title>Superlative adjectives</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Use the + superlative to say which is the (b... </ion-card-content>
        </ion-card>
        <ion-card href="be-going">
            <ion-card-header>
                <ion-card-title>Be going to</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We can use be going to + verb (infinitive) to... </ion-card-content>
        </ion-card>
        <ion-card href="adverbs">
            <ion-card-header>
                <ion-card-title>Adverbs</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="verbs-infinitive">
            <ion-card-header>
                <ion-card-title>Verbs + to + infinitive</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="articles">
            <ion-card-header>
                <ion-card-title>Articles</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
        <ion-card href="present-perfect">
            <ion-card-header>
                <ion-card-title>Present perfect</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>

    </ion-content>
</ion-app>