<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Adjectives</ion-card-title>
                </ion-card-header>

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>The <strong>White</strong> House is in the USA. <br> They're <strong>blue</strong> jeans.</td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td>He's <strong>strong</strong>. <br> It isn't <strong>easy</strong>.</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>It's a <strong>very big</strong> city. <br> She's <strong>quite small</strong>.</td>
                        </tr>
                    </tbody>
                </table>

                <ol>
                    <li>When we use an adjective with a noun, the adjective goes before the noun: <br> It's a big city <strong> NOT </strong>
                        <s>It's a house big.</s>
                    </li>
                    <li>We can also use the adjectives without a noun, after the verb be.</li>
                    <li>We often use very and quite before adjectives: </li>
                    <ol type="a">
                        <li>He's very tall.</li>
                        <li>He's quite tall.</li>
                        <li>He isn't very tall.</li>
                    </ol>
                </ol>
            </ion-card>
        </div>
    </ion-content>
</ion-app>