<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Adjective order</ion-card-title>
                </ion-card-header>


                <div class="card">
                    <div class="card-body">
                        We've got a <strong>lovely old</strong> cottage just outside Bath. <br> She has <strong>long fair</strong> hair. <br> I bought a <strong>beautiful Italian leather</strong> belt.
                    </div>
                </div>

                <ul>
                    <li>You can put more than one adjective before a noun (often two and occasionally three). These adjectives go in a particular order, e.g. NOT an old lovely cottage.</li>
                    <li>Opinion adjective, e.g. beautiful, nice, lovely, always go before descriptive adjectives, e.g. big, old, round.</li>
                    <li>If there is more than one descriptive adjective, they go in this order:</li>
                    <ol>
                        <li><strong>Opinion</strong> (expensive, beautiful)</li>
                        <li><strong>Size</strong> (little)</li>
                        <li><strong>Age</strong> (brand new)</li>
                        <li><strong>Shape</strong> (long)</li>
                        <li><strong>Colour</strong> (striped)</li>
                        <li><strong>Origin / Place</strong> (French, Italian)</li>
                        <li><strong>Material</strong> (silk)</li>
                        <li><strong>Noun</strong> (scarf, car)</li>
                    </ol>
                </ul>


            </ion-card>
        </div>
    </ion-content>