<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Past simple</ion-card-title>
                </ion-card-header>

                <h5>Past simple of be: was/were:</h5>

                <div class="card">
                    <div class="card-body ">
                        King Edward VIII's wife <strong>was</strong> American.
                        <br>She <strong>wasn't</strong> in class yesterday. <strong>Was</strong> she ill?
                        <br> The Beatles <strong>were</strong> famous in the 1960s.
                        <br>Where <strong>were</strong> you last night? You <strong>weren't</strong> at home.
                    </div>
                </div>

                <ion-text [innerHTML]="'PASTSIMPLE.explanation' | translate"></ion-text>


                <table class="table">
                    <tbody>
                        <tr>
                            <h5>[+]</h5>
                            <th scope="row"></th>
                            <td>
                                I/He/She/It
                                <br>You/We/They
                            </td>
                            <td>
                                <strong>was</strong> there.
                                <br><strong>were</strong> there.
                            </td>
                        </tr>
                        <tr>
                            <h5>[-]</h5>
                            <th scope="row"></th>
                            <td>
                                I/He/She/It
                                <br>You/We/They
                            </td>
                            <td>
                                <strong>wasn't</strong> there.
                                <br><strong>weren't</strong> there.
                            </td>
                        </tr>
                        <tr>
                            <h5>[?]</h5>
                            <th scope="row"></th>
                            <td>
                                <strong>Was</strong> I/he/she/it
                                <br><strong>Were</strong> you/we/they
                            </td>

                            <td>famous?</td>
                        </tr>
                        <tr>
                            <h5>[V]</h5>
                            <th scope="row"></th>
                            <td>
                                Yes,
                            </td>
                            <td>
                                I <strong>was.</strong>
                                <br>you <strong>were.</strong>
                            </td>
                        </tr>
                        <tr>
                            <h5>[X]</h5>
                            <th scope="row"></th>
                            <td>
                                No,
                            </td>
                            <td>
                                I <strong>wasn't.</strong>
                                <br>you <strong>weren't.</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5>Past simple: regular verbs</h5>

                <div class="card">
                    <div class="card-body ">
                        I <strong>played</strong> tennis this morning.
                        <br>We <strong>watched</strong> a good film on TV last night.
                        <br>My grandfather <strong>lived</strong> in Vienna when he was young.
                        <br>I <strong>studied</strong> German when I was at school.
                    </div>
                </div>

                <ion-text [innerHTML]="'PASTSIMPLE.explanation1' | translate"></ion-text>


                <ion-text [innerHTML]="'PASTSIMPLE.explanation2' | translate"></ion-text>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">infinitive</th>
                            <th scope="col">past</th>
                            <th scope="col">spelling</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>watch <br> play</td>
                            <td>watched <br> played</td>
                            <td> add -ed</td>
                        </tr>
                        <tr>
                            <td>live</td>
                            <td>lived</td>
                            <td> add -d</td>
                        </tr>

                        <tr>
                            <td>stop</td>
                            <td>stopped</td>
                            <td>one vowel + one consonant = double consonant + -ing</td>
                        </tr>
                        <tr>
                            <td>study</td>
                            <td>studied</td>
                            <td>consonant + y > ied</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <tbody>
                        <tr>
                            <h5>[+]</h5>
                            <th scope="row"></th>
                            <td>
                                I/He/She/It
                                <br>You/We/They
                            </td>
                            <td>
                                <strong>worked</strong>
                                <br>yesterday
                            </td>
                        </tr>
                        <tr>
                            <h5>[-]</h5>
                            <th scope="row"></th>
                            <td>
                                I/He/She/It
                                <br>You/We/They
                            </td>
                            <td>
                                <strong>didn't work</strong>
                                <br>yesterday
                            </td>
                        </tr>
                        <tr>
                            <h5>[?]</h5>
                            <th scope="row"></th>
                            <td>
                                Did I/you/he/she/it/we/they

                                <td><strong>work</strong> yesterday?</td>
                        </tr>
                        <tr>
                            <h5>[V]</h5>
                            <th scope="row"></th>
                            <td>
                                Yes,
                            </td>
                            <td>
                                I/you/he/she/it/we/they <strong>did.</strong>
                            </td>
                        </tr>
                        <tr>
                            <h5>[X]</h5>
                            <th scope="row"></th>
                            <td>
                                No,
                            </td>
                            <td>
                                I/you/he/she/it/we/they <strong>didn't.</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'PASTSIMPLE.explanation3' | translate"></ion-text>


                <h5>Past simple: irregular verbs</h5>

                <div class="card">
                    <div class="card-body ">
                        I <strong>went</strong> to Spain last month.
                        <br>I <strong>didn't go</strong> to Madrid.
                        <br><strong>Did</strong> you <strong>go</strong> to Barcelona?
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">infinitive</th>
                            <th scope="col">past [+]</th>
                            <th scope="col">past [-]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>go</td>
                            <td>went</td>
                            <td>didn't go</td>
                        </tr>
                        <tr>
                            <td>have</td>
                            <td>had</td>
                            <td>didn't have</td>
                        </tr>

                        <tr>
                            <td>get</td>
                            <td>got</td>
                            <td>didn't get</td>
                        </tr>
                        <tr>
                            <td>teach</td>
                            <td>taught</td>
                            <td>didn't teach</td>
                        </tr>
                        <tr>
                            <td>hear</td>
                            <td>heard</td>
                            <td>didn't hear</td>
                        </tr>
                        <tr>
                            <td>feel</td>
                            <td>felt</td>
                            <td>didn't feel</td>
                        </tr>
                        <tr>
                            <td>leave</td>
                            <td>left</td>
                            <td>didn't leave</td>
                        </tr>
                        <tr>
                            <td>lose</td>
                            <td>lost</td>
                            <td>didn't lose</td>
                        </tr>
                        <tr>
                            <td>meet</td>
                            <td>met</td>
                            <td>didn't meet</td>
                        </tr>
                        <tr>
                            <td>see</td>
                            <td>saw</td>
                            <td>didn't see</td>
                        </tr>
                        <tr>
                            <td>wear</td>
                            <td>wore</td>
                            <td>didn't wear</td>
                        </tr>
                        <tr>
                            <td>speak</td>
                            <td>spoke</td>
                            <td>didn't speak</td>
                        </tr>
                        <tr>
                            <td>do</td>
                            <td>did</td>
                            <td>didn't do</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Use the irregular past form only in [+] sentences: <br> I saw a film last night.</li>
                    <li>Use the infinitive after did/didn't: <br><strong>Did</strong> you <strong>see</strong> a film last night <br> I <strong>didn't go</strong> out last night</li>
                </ul>

            </ion-card>
        </div>
    </ion-content>
</ion-app>