<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Prepositions</ion-card-title>
                </ion-card-header>
                <h5>Time</h5>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">in</th>
                            <th scope="col">on</th>
                            <th scope="col">at</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>the morning</td>
                            <td>Monday</td>
                            <td>three o'clock</td>
                        </tr>
                        <tr>
                            <td>the afternoon</td>
                            <td>Tuesday (morning)</td>
                            <td>midday/midnight</td>
                        </tr>

                        <tr>
                            <td>the evening</td>
                            <td></td>
                            <td>lunchtime</td>
                        </tr>

                        <tr>
                            <td>the summer</td>
                            <td></td>
                            <td>night</td>
                        </tr>

                    </tbody>
                </table>

                <ion-text [innerHTML]="'PREPOSITIONS.explanation' | translate"></ion-text>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>Other uses of in and on:</strong></h6>
                                <p class="card-text"> We also use <strong>in</strong> with months and years, e.g. <strong>in</strong> December, <strong>in</strong> 2015</p>
                                <p class="card-text"> We also use <strong>on</strong> with dates, e.g. <strong>on</strong> 1 January</p>

                            </div>
                        </div>
                    </div>
                </div>

                <ion-text [innerHTML]="'PREPOSITIONS.explanation1' | translate"></ion-text>

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>He goes <strong>to</strong> work at 8.00</td>

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>He has lunch <strong>at</strong> work.
                                <br>He works <strong>in</strong> an office.</td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'PREPOSITIONS.explanation2' | translate"></ion-text>

            </ion-card>
        </div>
    </ion-content>
</ion-app>