<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Superlative adjectives</ion-card-title>
                </ion-card-header>

                It's <strong>the hottest</strong> month of he year. <br> It's <strong>the most  dangerous</strong> road in the world. <br> She's <strong>the best</strong> student in the class. <br> Monday is <strong>the worst</strong> day of the week.

                <br>
                <br>

                <ion-text [innerHTML]="'SUPERLATIVE.explanation' | translate"></ion-text>



                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>adjective</th>
                            <th>superlative</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>cold <br> high</td>
                            <td><strong>the </strong> cold<strong>est</strong> <br> <strong>the </strong>high<strong>est</strong></td>
                            <td>add -est</td>
                        </tr>
                        <tr>
                            <td>big <br> hot</td>
                            <td><strong>the</strong> big<strong>gest</strong> <br> <strong>the </strong> hot<strong>test</strong></td>
                            <td>double consonant, add -est</td>
                        </tr>
                        <tr>
                            <td>dangerous</td>
                            <td><strong>the most</strong> dangerous</td>
                            <td>the most + adjective</td>
                        </tr>
                        <tr>
                            <td>good <br> bad <br> far</td>
                            <td><strong>the best <br> the worst <br> the furthest</strong></td>
                            <td><br> irregular</td>
                        </tr>
                        <tr>
                            <td>good <br> bad <br> far</td>
                            <td><strong>better <br> worse <br> further</strong></td>
                            <td> <br> irregular</td>
                        </tr>

                    </tbody>
                </table>

            </ion-card>
        </div>
    </ion-content>
</ion-app>