<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Passive.</ion-card-title>
                </ion-card-header>

                <h6>be + past participle</h6>

                <table class="table table-borderless">
                    <h6>Present: am/is/are + past participle</h6>
                    <tbody>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>Kevlar <strong>is used</strong> to make bullet-proof vests.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>Tippex <strong>isn't used</strong> very much today.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td><strong>Are</strong> disposable nappies <strong>used</strong> all over the world?
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-borderless">
                    <h6>Past: was/were + past participle</h6>
                    <tbody>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>The dishwasher <strong>was invented</strong> by Josephine Cochrane.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>Windscrenn wipers <strong>weren't invented</strong> until 1903.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td>When <strong>was</strong> the washing machine <strong>invented?</strong></td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>You can often say things in two ways, in the active or in passive. <br> Josephine Cochrane <strong>invented</strong> the dishwasher. (active) <br> The dishwasher <strong>was invented</strong> by Josephine Cochrane. (passive)
                    </li>
                    <li>In the active sentence, the focus is more on Josephine.</li>
                    <li>In the passive sentence, the focus is more on dishwasher.</li>
                    <li>You can also use the passive when it isn't known or isn't important who does or did the action. <br> My car <strong>was stolen</strong> last week. <br> Volvo cars <strong>are made</strong> in Sweden.
                    </li>
                </ul>


            </ion-card>
        </div>
    </ion-content>
</ion-app>