<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="vocabulary-upper"></ion-back-button>
        </ion-buttons>
        <ion-title>The body</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-slides pager="false" [options]="slideOptsOne">

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/ankle.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Ankle</h4> <br>
                </div>
                <div>
                    <ion-button (click)="ankleToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/calf.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Calf</h4> <br>
                </div>
                <div>
                    <ion-button (click)="calfToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/chest.jfif" alt="">
                </div>
                <div class="titulo">
                    <h4>Chest</h4> <br>
                </div>
                <div>
                    <ion-button (click)="chestToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/elbow.jfif" alt="">
                </div>
                <div class="titulo">
                    <h4>Elbow</h4> <br>
                </div>
                <div>
                    <ion-button (click)="elbowToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/fist.png" alt="">
                </div>
                <div class="titulo">
                    <h4>Fist</h4> <br>
                </div>
                <div>
                    <ion-button (click)="fistToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/heel.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Heel</h4> <br>
                </div>
                <div>
                    <ion-button (click)="heelToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/nails.jfif" alt="">
                </div>
                <div class="titulo">
                    <h4>Nails</h4> <br>
                </div>
                <div>
                    <ion-button (click)="nailsToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/palm.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Palm</h4> <br>
                </div>
                <div>
                    <ion-button (click)="palmToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/thigh.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Thigh</h4> <br>
                </div>
                <div>
                    <ion-button (click)="thighToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>


            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/waist.png" alt="">
                </div>
                <div class="titulo">
                    <h4>Waist</h4> <br>
                </div>
                <div>
                    <ion-button (click)="waistToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/body1/wrist.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Wrist</h4> <br>
                </div>
                <div>
                    <ion-button (click)="wristToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-card>

    <footer>
    </footer>
</ion-content>