<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Word order</ion-card-title>
                </ion-card-header>

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Question word</th>
                            <th scope="col">Auxiliary</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Infinitive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>Do</td>
                            <td>you</td>
                            <td>live near here?</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Does</td>
                            <td>your mother</td>
                            <td>work?</td>
                        </tr>
                        <tr>
                            <th scope="row">What</th>
                            <td>do</td>
                            <td>you</td>
                            <td>do?</td>
                        </tr>
                        <tr>
                            <th scope="row">Where</th>
                            <td>does</td>
                            <td>he</td>
                            <td>live?</td>
                        </tr>
                        <tr>
                            <th scope="row">How</th>
                            <td>do</td>
                            <td>you</td>
                            <td>spell your surname?</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>The word order for present simple questions with do and does is: <strong>ASI</strong> (<strong>A</strong>uxiliary, <strong>S</strong>ubject, <strong>I</strong>finitive), e.g. Do you live here? OR <br><strong>QUASI</strong> (
                        <strong>Q</strong>uestion, <strong>A</strong>uxiliary, <strong>S</strong>ubject, <strong>I</strong>finitive), e.g. Where do you live?;
                    </li>
                    <li>We often use question phases beginning with What, e.g. What colour...? What size...? What make...? What time...?</li>
                </ul>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>Word order in be questions:</strong></h6>
                                <p class="card-text"> Remember the word order in questions with be. Put be before the subject. Where are you from? What's your name? Is he Spanish?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </ion-content>
</ion-app>