<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading-list"></ion-back-button>
            </ion-buttons>
            <ion-title>Lights of Christmas</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>
                    According to Ruby, the best part about Christmas time is to decorate the Christmas tree. It's her favorite tradition of this lovely holiday. Every yea, one week before Christmas Eve, she decorates the tree with her family. Everyone has their own task.
                    Her father is the one who has to go buy the tree. Ruby has to put to the lights on. They normally choose colorful lights. Her older brother Carlos has to put the Christmas balls. These are very beautiful. They are red and green with
                    some glitters. Then, her younger brother Bradley puts the other ornaments. That includes the small golden stars and the fluffy and white snowflakes. Her mother puts the houses and the church under the tree. It's the village. All the
                    little small building are handmade by their grandmother. Finally, the youngest of the family, which is her sister Rebecca, has to put on the star on the top of the tree. Every year, they do it the exact same way and every year, it's
                    magical and amazing.
                </h5>

            </ion-slide>

            <ion-slide>
                <h5>
                    De acordo com Ruby, a melhor parte sobre o Natal é decorar a árvore de Natal. É sua tradição favorita deste feriado encantador. Todos os anos, uma semana antesda véspera de Natal, ela decora a árvore com sua família. Todo mundo tem sua própria tarefa.
                    Seu pai é o único que tem que ir comprar a árvore. Ruby tem que ascender as luzes. Eles normalmente escolhem luzes coloridas. Seu irmão mais velho, Carlos, tem que colocar as bolas de Natal. Estas são muito bonitas. Elas são vermelhas
                    e verdes com alguns brilhos. Então, seu irmão mais novo, Bradley, coloca os outros ornamentos. Isso inclui as pequenas estrelas douradas e os flocos de neve macios e brancos. Sua mãe coloca as casas e a igreja sob a árvore. É a aldeia.
                    Todas as pequenas contruções são feitas à mão por sua avó. Finalmente, a mais nova da família, que é sua irmã Rebecca, tem que colocar a estrela no topo da árvore. Todos os anos, eles fazem da mesma maneira e todos os anos, é mágico
                    e supreendente.
                </h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>