<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Countable / Uncountable nouns</ion-card-title>
                </ion-card-header>

                <div class="box">
                    <img src="/assets/img/apple.jpg" />
                    <span> an apple </span>
                </div>
                <div class="box">
                    <img src="/assets/img/threeApples.jpg" />
                    <span> three apples </span>
                </div>
                <div class="box">
                    <img src="/assets/img/rice.jpg" />
                    <span> rice </span>
                </div>
                <div class="box">
                    <img src="/assets/img/meat.jpg" />
                    <span> meat </span>
                </div>

                <ul>
                    <li>There are two kinds of nouns in English: countable (C) and uncountable (U). <br> C = things you can count, e.g. apples. <br> C nouns can be singular (an apple) or plural (apples). <br> U = things you can't count. butter, meat <br>                        <strong>NOT</strong> <s>two butters</s>, <s>three meats</s> <br> U nouns are normally singular.
                    </li>
                    <li>Some nouns can be C or U but the meaning is different.</li>
                </ul>

                <div class="box1">
                    <img src="/assets/img/icecreeam.jpg" />
                    <span> an ice cream (C) </span>
                </div>
                <div class="box1">
                    <img src="/assets/img/someice.jpg" />
                    <span> some ice cream (U) </span>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>countable</th>
                            <th>uncountable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[+] We need</td>
                            <td><strong>an</strong> apple. <br> <strong>some</strong> apples.</td>
                            <td><strong>some</strong> butter.</td>
                        </tr>
                        <tr>
                            <td>[-] We don't need</td>
                            <td><strong>a</strong> tomato. <br> <strong>any</strong> tomatoes.</td>
                            <td><strong>any</strong> sugar?</td>
                        </tr>
                        <tr>
                            <td>[?] Do we need</td>
                            <td><strong>an</strong> orange? <br> <strong>any</strong> oranges?</td>
                            <td><strong>any</strong> sugar?</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>We use a / an with singular C nouns; a / an = one.</li>
                    <li>We use some [+] with plural C nouns and with U nouns: some = not an exact number or quantity.</li>
                    <li>We use any in [-] and [?] with plural C nouns and with U nouns.</li>
                </ul>

                <div class="alert alert-info" role="alert">
                    <strong>some in [?]</strong> <br> We use some in [?] to ask for and offer things. <br> Can I have <strong>some</strong> apples, please? <br> Would you like <strong>some</strong> coffee?
                </div>


            </ion-card>
        </div>
    </ion-content>
</ion-app>