<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Possessive adjective</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Subject Pronoun</th>
                            <th>Possessive Adjective</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>I</strong> have a shirt</td>
                            <td><strong>My</strong> shirt is green</td>
                        </tr>
                        <tr>
                            <td><strong>You</strong> have a book</td>
                            <td><strong>Your</strong> book is new</td>
                        </tr>
                        <tr>
                            <td><strong>He</strong> has a pillow</td>
                            <td><strong>His</strong> pillow is soft</td>
                        </tr>
                        <tr>
                            <td><strong>She</strong> has a dog</td>
                            <td><strong>Her</strong> dog is small</td>
                        </tr>

                        <tr>
                            <td><strong>It</strong> has a bone</td>
                            <td><strong>Its</strong> bone is old</td>
                        </tr>

                        <tr>
                            <td><strong>We</strong> have a bird</td>
                            <td><strong>Our</strong> bird is noisy</td>
                        </tr>

                        <tr>
                            <td><strong>You</strong> have a house</td>
                            <td><strong>Your</strong> house is big</td>
                        </tr>

                        <tr>
                            <td><strong>They</strong> have a car</td>
                            <td><strong>Their</strong> car is slow</td>
                        </tr>

                    </tbody>
                </table>
                <ion-text [innerHTML]="'POSSESSIVES.explanation' | translate"></ion-text>

            </ion-card>
        </div>
    </ion-content>
</ion-app>