<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Articles</ion-card-title>
                </ion-card-header>

                <h6> <strong>1. a / an</strong> </h6>
                What is this? It's <strong>a</strong> photo of my daughter. <br> What does she do? Sally's <strong>an</strong> engineer <br> How often do they gave classes? Three times <strong>a</strong> week. <br>
                <h6> <strong>2. the </strong> </h6> Can you close <strong>the window</strong>, please? <br> Can you check their address on <strong>the internet?</strong> <br> It's <strong>the best</strong> restaurant I know. <br>
                <h6><strong>3. a or the?</strong></h6> Let's have <strong>a</strong> pizza. <strong>The</strong> pizzas are very good here.
                <br>
                <ion-text [innerHTML]="'ARTICLES.explanation' | translate"></ion-text>


            </ion-card>
        </div>
    </ion-content>
</ion-app>