<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Can / Can't </ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><strong>I can</strong> sing but <strong>I can't</strong> dance.

                            </td>

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td><strong>I can</strong> come on Tuesday, but <strong>I can't</strong> come on Wednesday.</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><strong>You can</strong> park here. <strong>You can't</strong> park here.</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td><strong>Can you</strong> help me? <strong>Can I</strong> open the window?</td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'CAN.explanation' | translate"></ion-text>

                <table class="table">

                    <tbody>
                        <tr>
                            <h5>[+]</h5>
                            <th scope="row"></th>
                            <td>I/You/<br>He/She/It/<br>We/They</td>
                            <td><br><strong>can</strong><br></td>
                            <td>swim. <br> come. <br> help.</td>
                        </tr>
                        <tr>
                            <h5>[-]</h5>
                            <th scope="row"></th>
                            <td>I/You/<br>He/She/It/<br>We/They</td>
                            <td><br><strong>can't</strong><br></td>
                            <td>swim. <br> come. <br> help.</td>
                        </tr>
                        <tr>
                            <h5>[?]</h5>
                            <th scope="row"></th>
                            <td><br><strong>Can</strong><br></td>
                            <td>I/You/<br>He/She/It/<br>We/They</td>
                            <td>swim? <br> come? <br> help?</td>
                        </tr>
                        <tr>
                            <h5>[V]</h5>
                            <th scope="row"></th>
                            <td><br>Yes,<br></td>
                            <td>I/You/<br>He/She/It/<br>We/They</td>
                            <td><br><strong>can.</strong><br></td>
                        </tr>
                        <tr>
                            <h5>[X]</h5>
                            <th scope="row"></th>
                            <td><br>No,<br></td>
                            <td>I/You/<br>He/She/It/<br>We/They</td>
                            <td><br><strong>can't.</strong><br></td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'CAN.explanation1' | translate"></ion-text>

            </ion-card>
        </div>
    </ion-content>
</ion-app>