<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Used to / didn't use to</ion-card-title>
                </ion-card-header>

                <h6>be + past participle</h6>

                <table class="table table-borderless">
                    <h6>Present: am/is/are + past participle</h6>
                    <tbody>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>When I was a child, I <strong>used to</strong> play in the street. <br> My brother <strong>used to</strong> have very long hair.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>Children <strong>didn't use to</strong> watch much TV when my father was young.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td><strong>Did</strong> you <strong>use to</strong> wear a uniform at school? Yes, I did.
                            </td>
                        </tr>
                    </tbody>
                </table>



                <ul>
                    <li>Use used to / didn't use to + verb to talk about things that happened repeatedly or were true for a long period of time in the past, but are usually not true now.</li>
                    <li>used to / didn't use to is the same for all persons.</li>
                </ul>


            </ion-card>
        </div>
    </ion-content>
</ion-app>