<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="pre-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Tests pre-intermediate</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-card routerLink="/teste3">
            <ion-card-header>
                <ion-card-title>Practise test 3</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card routerLink="/teste4">
            <ion-card-header>
                <ion-card-title>Practise test 4</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card routerLink="/test-listening3">
            <ion-card-header>
                <ion-card-title>Listening test 3</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card routerLink="/test-listening4">
            <ion-card-header>
                <ion-card-title>Listening test 4</ion-card-title>
            </ion-card-header>

        </ion-card>

        <ion-card href="testvoc2">
            <ion-card-header>
                <ion-card-title>Vocabulary test 3</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="testvoc3">
            <ion-card-header>
                <ion-card-title>Vocabulary test 4</ion-card-title>
            </ion-card-header>

        </ion-card>

    </ion-content>
</ion-app>