ion-toolbar {
    --ion-background-color: #aa7974;
}

ion-title {
    margin-left: 20%;
    color: #ffffff;
}

ion-content {
    --ion-background-color: #ffffff;
}

h6 {
    text-align: center;
}

ion-button {
    margin-left: 40%;
}

ion-card {
    ion-card-title {
        color: #9e716c;
    }
}