<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>So, neither + auxiliaries</ion-card-title>
                </ion-card-header>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <strong>A:</strong> I love classical musical. <br>
                                <strong>B</strong>: <strong>So I do</strong>. <br>
                                <strong>A: </strong> I went to a classical concert last. <br>
                                <strong>B</strong>: <strong>So did I.</strong>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><strong>A:</strong> I am not married. <br>
                                <strong>B</strong>: <strong>Neither am I.</strong> <br>
                                <strong>A:</strong> I don't want to get married. <br>
                                <strong>B</strong>: <strong>Neither do I.</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row"><strong>Present simple</strong></th>
                            <td>I don't like classical musical.</td>
                            <td>Neither <strong>do</strong> I</td>

                        </tr>
                        <tr>
                            <th scope="row"><strong>Present continuous</strong></th>
                            <td>I'm having a great time.</td>
                            <td>So <strong>am</strong> I.</td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Can/can't</strong></th>
                            <td>I can swim.</td>
                            <td>So <strong>can</strong> I.</td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Past simple</strong></th>
                            <td>I didn't like the filme. <br> I was very tired.</td>
                            <td>Neither <strong>did</strong> I. <br> So <strong>was</strong> I.</td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Would/would't</strong></th>
                            <td>I wouldn't like to go there.</td>
                            <td>Neither <strong>would</strong> I.</td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Present perfect</strong></th>
                            <td>I've been to Brazil.</td>
                            <td>So <strong>have</strong> I.</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Be careful with the word order. <br> So do I. / Neither do I.</li>
                </ul>



            </ion-card>
        </div>
    </ion-content>
</ion-app>