<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-text [innerHTML]="'PRESENTPERFECT.title' | translate"></ion-text>
                </ion-card-header>

                <h6> I'<strong>m going to have </strong> a holiday next month. <br> I'
                    <strong>m not going to study</strong> English. <br>
                    <strong>Are</strong> you <strong>going to have</strong> a holiday too? </h6>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><br> <br> [+]</td>
                            <td>
                                I <strong>am</strong> <br> You <strong>are</strong> <br> He / She / It <strong>is</strong> <br> We <strong>are</strong> <br> They <strong>are</strong>
                            </td>
                            <td><br> <br> <strong>going to</strong></td>
                            <td>
                                <br> <strong>have</strong> a holiday next month. <br> <br> <strong>study</strong> English tonight.
                            </td>
                        </tr>

                        <tr>
                            <td><br> <br> [--]</td>
                            <td>
                                I <strong>am not</strong> <br> You <strong>are not</strong> <br> He / She / It <strong>is not</strong> <br> We <strong>are not</strong> <br> They <strong>are not</strong>
                            </td>
                            <td><br> <br> <strong>going to</strong></td>
                            <td>
                                <br> <strong>have</strong> a holiday next month. <br> <br> <strong>study</strong> English tonight.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ion-card-header>
                    <ion-text [innerHTML]="'PRESENTPERFECT.title1' | translate"></ion-text>
                </ion-card-header>

                <ion-text [innerHTML]="'PRESENTPERFECT.explanation' | translate"></ion-text>

                <br>
                <h6> I think it<strong>'s going to</strong> rain. <br> You <strong>'re going to be</strong> very happy. <br> I'm sure they<strong>'re going to win.</strong> </h6>
            </ion-card>
        </div>
    </ion-content>
</ion-app>