<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Future perfect and future continuous</ion-card-title>
                </ion-card-header>


                <h5>Future perfect: will have + past participle</h5>
                <div class="card">
                    <div class="card-body">
                        The decorators <strong>will have finished</strong> painting by Tuesday, so we can move back into the flat then. <br> The football club say that they<strong>'ll have built</strong> the new stadium in six months. <br> Laura <strong>won't have arrived</strong>                        before dinner so I'll leave some food in the oven for her. <br> When <strong>will they have learnt</strong> enough English to be able to communicate fluently?
                    </div>
                </div>

                <h5>We use the future perfect to say something will be finished before a certain time in the future.</h5>
                <ul>
                    <li>This tense is frequently used with the time expression <strong>by</strong> Saturday / March / 2030, etc. or <strong>in</strong> two weeks / months, etc.</li>
                    <li>By + a time expression = at the latest. With in, you can say in six months or in six months' time.</li>
                    <li>We form the negative with won't have + past participle and make questions by inverting the subject and will / won't.</li>
                </ul>

                <br>

                <h5>Future continuous: will be + verb + -ing</h5>
                <div class="card">
                    <div class="card-body">
                        Don't phone between 7:00 and 8:00 as we<strong>'ll be having</strong> dinner then. <br> Good luck with your test tomorrow. <strong>I'll be thinking</strong> of you. <br> This time tomorrow I<strong>'ll be sitting</strong> at a
                        café <strong>drinking</strong> a beer. <br>
                    </div>
                </div>

                <ul>
                    <li>Use the future continuous to say that an action will be in progress at a certain time in the futuree. <br> Compare: <br>
                        <strong>We'll have</strong> dinner at 8:00 (= we will start dinner at 8:00) <br>
                        <strong>We'll be having</strong> dinner at 8:00 (= at 8:00 we will already have started having dinner)</li>
                    <li>We sometimes use the future continuous, like the present continuous, to talk about things which are already planned or decided.</li>
                    <li>We form the negative with won't be + verb + ing and make questions by inverting the subject and will / won't.</li>
                </ul>

            </ion-card>
        </div>
    </ion-content>