<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="beginner"></ion-back-button>
            </ion-buttons>
            <ion-title>Tests</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-card routerLink="/teste1" (click)="addTestes()">
            <ion-card-header>
                <ion-card-title>Practise test 1

                </ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text2">
            <ion-card-header>
                <ion-card-title>Practise test 2</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text3">
            <ion-card-header>
                <ion-card-title>Practise test 3</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text4">
            <ion-card-header>
                <ion-card-title>Listening test 1</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text5">
            <ion-card-header>
                <ion-card-title>Listening test 2</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text6">
            <ion-card-header>
                <ion-card-title>Listening test 3</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="testvoc">
            <ion-card-header>
                <ion-card-title>Vocabulary test 1</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text8">
            <ion-card-header>
                <ion-card-title>Vocabulary test 2</ion-card-title>
            </ion-card-header>

        </ion-card>
        <ion-card href="text9">
            <ion-card-header>
                <ion-card-title>Vocabulary test 3</ion-card-title>
            </ion-card-header>

        </ion-card>


    </ion-content>
</ion-app>