<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Uses of the infinitive with to</ion-card-title>
                </ion-card-header>



                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>I need <strong>to buy</strong> some new clothes. <br> Try <strong>not to talk</strong> about politics.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>It'll be nice <strong>to meet</strong> your parents. <br> It's important <strong>not to be</strong> late.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>I don't know where <strong>to go</strong> or what <strong>to do.</strong></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><strong>A:</strong> Why did you go to the party? <br>
                                <strong>B: </strong> <strong>To meet</strong> new people.
                            </td>
                        </tr>
                    </tbody>
                </table>



                <ul>
                    <li>The infinitive is the base form of the verb. It is often used with to. It can be positive or negative.</li>
                    <li>Use the infinitive with to:</li>
                    <ol>
                        <li>after some verbs, e.g. want, need, would like, etc.</li>
                        <li>after adjectives.</li>
                        <li>after question words, e.g. what, where, when, etc.</li>
                        <li>to say why you do something.</li>
                    </ol>
                </ul>

                <div class="alert alert-danger" role="alert">
                    <strong>Infinitive without to</strong> <br> Remember that we use the infinitive without to after auxiliary verbs (do/does/didn't) and after most modal verbs (can, could, will, would, etc.), e.g. <strong>Do</strong> you
                    <strong>live</strong> near here? <strong>Can</strong> you <strong>help</strong> me?
                </div>



            </ion-card>
        </div>
    </ion-content>
</ion-app>