<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Word order</ion-card-title>
                </ion-card-header>

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Question word</th>
                            <th scope="col">Auxiliary</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Infinitive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>Do</td>
                            <td>you</td>
                            <td>live near here?</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Does</td>
                            <td>your mother</td>
                            <td>work?</td>
                        </tr>
                        <tr>
                            <th scope="row">What</th>
                            <td>do</td>
                            <td>you</td>
                            <td>do?</td>
                        </tr>
                        <tr>
                            <th scope="row">Where</th>
                            <td>does</td>
                            <td>he</td>
                            <td>live?</td>
                        </tr>
                        <tr>
                            <th scope="row">How</th>
                            <td>do</td>
                            <td>you</td>
                            <td>spell your surname?</td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'WORDORDER.explanation' | translate"></ion-text>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>Word order in be questions:</strong></h6>
                                <p class="card-text">
                                    <ion-text [innerHTML]="'WORDORDER.explanation1' | translate"></ion-text>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </ion-content>
</ion-app>