<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Might / might not</ion-card-title>
                </ion-card-header>

                <p>We <strong>might</strong> have a picnic tomorrow, but it depends on the weather. <br> She <strong>might</strong> come with us, but she's not sure yet. <br> I <strong>might not</strong> go to the party. I haven't decided yet. <br> You <strong>might not</strong>                    see him today. He's coming home late.
                </p>

                <ul>
                    <li>Use might / might not + verb (infinitive without to) to say that perhaps you will or won't do something.</li>
                    <li>might/might not is the same for all persons.</li>
                    <li>might not is not usually contracted.</li>
                </ul>


            </ion-card>
        </div>
    </ion-content>
</ion-app>