<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Verbs of senses</ion-card-title>
                </ion-card-header>


                <h5>used to / didn't use to + infinitive</h5>
                <div class="card">
                    <div class="card-body">
                        1. I <strong>used to sleep</strong> for eight hours every night, but now I only sleep for six. <br> I didn't recognize him. He <strong>didn't use to have</strong> a beard. <br> 2. When I lived in France as a child we <strong>used to have</strong>                        croissants for breakfast. We <strong>would buy</strong> them every morning from the local baker.

                    </div>
                </div>

                <ol>
                    <li>We use used to / didn't use to + infinitive to talk about past habits or repeated actions or situations / states which have changed.</li>
                    <ul>
                        <li>used to doesn't exist in the present tense. For present habits, use usually + the present simple</li>
                    </ul>
                    <li>We can also use would to refer to repeated actions in the past. However, we don't use would for non-action verbs.</li>
                </ol>

                <br>

                <h5>be used to / get used to + gerund</h5>
                <div class="card">
                    <div class="card-body">
                        1. I'm <strong>not used to sleeping</strong> with a duvet. I've always slept with blankets. <br> Carlos has lived in London for years. He's <strong>used to driving</strong> on the left. <br> 2. <strong>A:</strong> I can't <strong>get used to working</strong>                        at night. I feel tired all time. <br>
                        <strong>B:</strong> Don't worry, you'll soon <strong>get used to it</strong>.
                    </div>
                </div>

                <ol>
                    <li>Use be used to + gerund to talk about a new situation which is <strong>now</strong> familiar or less strange.</li>
                    <li>Use get used to + gerund to talk about a new situation which is <strong>becoming</strong> familair or less strange</li>
                </ol>


            </ion-card>
        </div>
    </ion-content>