<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Verbs of senses</ion-card-title>
                </ion-card-header>


                <h5>look / feel / smell / sound / taste</h5>
                <div class="card">
                    <div class="card-body">
                        1. You <strong>look tired</strong>. <br> That cake <strong>smells good</strong>! <br> These jeans don't <strong>feel comfortable</strong>. <br> 2. Tim <strong>looks like his father</strong>. This material <strong>feels like silk</strong>                        - is it? <br> Are you sure this is coffee? It <strong>tastes like tea</strong>. <br> 3. She <strong>looks as if she's been crying</strong>. It <strong>smells as if something's burning. </strong> It <strong>sounds as if it's raining.</strong>

                    </div>
                </div>


                <ol>
                    <li>Use look feel, etc. + adjective.</li>
                    <li>Use look, feel, etc. + noun.</li>
                    <li>Use look, feel, etc. + as if + clause.</li>
                    <ul>
                        <li>You can use like or as though instead of as if, e.g. <br> It sounds like / as though it's raining.</li>
                    </ul>
                </ol>


            </ion-card>
        </div>
    </ion-content>