<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading-list"></ion-back-button>
            </ion-buttons>
            <ion-title>The city who never sleeps</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>
                    Florence loves to travel. She has been to many places around the globe including some of the best destinations. Actually, she has been to more than 23 countries. Whenever someone asks her what is her favorite place though, she will always answer the same
                    thing. Her favourite place isn't a country, but a city. It is not thousands of kilometers away from her home, but only a two hours drive. Her favorite place is New York, which she called her "beautiful city". She loves how that city
                    never sleeps, how it is the land of all dreams coming true. When she goes there, she feels like everything is possible, she feels like there are no boundaries, no limits. Manhattan will always remain her favorite part. She likes to
                    walk in Center Park and to look at the prestigious flatiron building. Going up to the top of the Empire State Building to see all the buildings from above is magical as well. Everything about this place thrills her. New York City,
                    beautiful city.
                </h5>
                <ion-button (click)="textToSpeech(text)">Listen</ion-button>
                <ion-button (click)="textToPause()">Stop</ion-button>

            </ion-slide>

            <ion-slide>
                <h5>Florence adora viajar. Ela foi a muitos lugares em todo o mundo, incluindo alguns dos melhores destinos. Na verdade, ela esteve em mais de 23 países. Sempre que alguém lhe pergunta qual é o seu lugar favorito, porém, ela sempre responderá
                    a mesma coisa. Seu lugar favorito não é um país, mas uma cidade. Não é milhares de quilômetros de distância de sua casa, mas apenas duas horas de carro. Seu lugar favorito é Nova York, que ela chamou de sua "bela cidade". Ela ama como
                    essa cidade nunca dorme, como é a terra de todos os sonhos se tornando realidade. Quando ela vai lá, ela sente como tudo é possível, ela sente como não há fronteiras, sem limites. Manhattan smepre será sua parte favorita. Ela gosta
                    de caminhar no Center Park e olhar para o prestigiado edifício de ferro. Indo até o topo do Empire State Building para ver todos os edifícios de cime é mágico também. Tudo sobre este lugar emociona ela. New York City, cidade bonita.
                </h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>