<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading"></ion-back-button>
            </ion-buttons>
            <ion-title>Happy Birthday Ben</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>Ben woke up early this morning. It's his tenth birthday today. He got out of bed. He smiled broadly. He did his morning exercises. He took a warm shower. After the shower he brushed his teeth. He combed his fair hair. Ben put on his fair
                    hair. Ben put on his white shirt and dark blue trousers. Ben went down the stairs and saw his mom and dad. They are in the kitchen. Mom made a birthday cake for Ben. Dad lays the table. Mom and dad give him a present and kiss him.
                    Ben is happy!
                </h5>
                <ion-button (click)="textToSpeech(text)">Listen</ion-button>
                <ion-button (click)="textToPause()">Stop</ion-button>

            </ion-slide>

            <ion-slide>
                <h5>Ben acordou cedo esta manhã. É seu décimo aniversário hoje. Ele saiu da cama. Ele deu um largo sorriso. Ele fez seus exercícios matinais. Tomou um banho quente. Depois do banho, ele escovou os dentes. Ele penteou seus cabelos louros. Ben
                    vestiu sua camisa branca e sua calça azul escuro. Ben desceu as escadas e viu sua mãe e seu pai. Eles estão na cozinha. Mamãe fez um bono de aniversário para Ben. Papai coloca a mesa. Mamãe e papai dão-lhe um presente e beijam ele.
                    Ben está feliz!
                </h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>