ion-toolbar {
    --ion-background-color: #aa7974;
    text-align: center;
}

ion-title {
    color: #ffffff;
}

ion-content {
    --ion-background-color: #ffffff;
}

ion-slide {
    display: block;
}

ion-button {
    position: relative;
    margin-bottom: 40px;
}

h5 {
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}