<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Frequency</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>I <strong>always</strong> have toast for breakfast.
                                <br>Do you <strong>usually</strong> go to work by bus?.
                                <br>She doesn't <strong>often</strong> go to the cinema.
                                <br>He is <strong>never</strong> stressed.
                            </td>

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>I have English classes <strong>twice a week</strong>.
                                <br>She doesn't work <strong>every day</strong>.</td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'FREQUENCY.explanation' | translate"></ion-text>
            </ion-card>
        </div>
    </ion-content>
</ion-app>