<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-title>Frequency</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Frequency</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>I <strong>always</strong> have toast for breakfast.
                                <br>Do you <strong>usually</strong> go to work by bus?.
                                <br>She doesn't <strong>often</strong> go to the cinema.
                                <br>He is <strong>never</strong> stressed.
                            </td>

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>I have English classes <strong>twice a week</strong>.
                                <br>She doesn't work <strong>every day</strong>.</td>
                        </tr>
                    </tbody>
                </table>

                <ol>
                    <li>We use adverbs os frequency to say how often you do something.</li>

                    <ul>
                        <li>Adverbs of frequency go <u>before</u> all main verbs (except be).</li>
                        <li>Use a [+] verb with never and hardly ever. He <strong>never smokes. NOT</strong> <s>He doesn't never smoke.</s></li>
                        <li>In negative sentences the adverb of frequency goes between don't/doesn't and the verb.</li>
                    </ul>
                    <li>Expressions of frequency usually go at the end of a sentence or verb phase.</li>
                </ol>
            </ion-card>
        </div>
    </ion-content>
</ion-app>