<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="vocabulary-list"></ion-back-button>
        </ion-buttons>
        <ion-title>Things you wear</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-slides pager="false" [options]="slideOptsOne">

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/cardigan.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Cardigan</h4> <br>
                </div>
                <div>
                    <ion-button (click)="cardiganToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/coat.jfif" alt="">
                </div>
                <div class="titulo">
                    <h4>Coat</h4> <br>
                </div>
                <div>
                    <ion-button (click)="coatToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/dress.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Dress</h4> <br>
                </div>
                <div>
                    <ion-button (click)="dressToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/jacket.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Jacket</h4> <br>
                </div>
                <div>
                    <ion-button (click)="jacketToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/jeans.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Jeans</h4> <br>
                </div>
                <div>
                    <ion-button (click)="jeansToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/shirt.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Shirt</h4> <br>
                </div>
                <div>
                    <ion-button (click)="shirtToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/shorts.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Shorts</h4> <br>
                </div>
                <div>
                    <ion-button (click)="shortsToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/skirt.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Skirt</h4> <br>
                </div>
                <div>
                    <ion-button (click)="skirtToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/suit.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Suit</h4> <br>
                </div>
                <div>
                    <ion-button (click)="suitToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/sweater.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Sweater</h4> <br>
                </div>
                <div>
                    <ion-button (click)="sweaterToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/top.png" alt="">
                </div>
                <div class="titulo">
                    <h4>Top</h4> <br>
                </div>
                <div>
                    <ion-button (click)="topToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/tracksuit.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Tracksuit</h4> <br>
                </div>
                <div>
                    <ion-button (click)="tracksuitToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/trousers.jpg" alt="">
                </div>
                <div class="titulo">
                    <h4>Trousers</h4> <br>
                </div>
                <div>
                    <ion-button (click)="trousersToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="img">
                    <img src="/assets/img/thingsWear/t-shirt.png" alt="">
                </div>
                <div class="titulo">
                    <h4>T-shirt</h4> <br>
                </div>
                <div>
                    <ion-button (click)="tshirtToSpeech(text)">Listen</ion-button>
                </div>
            </ion-slide>

        </ion-slides>
    </ion-card>
</ion-content>