<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Verbs + to + infinitive</ion-card-title>
                </ion-card-header>

                <h6>
                    I <strong>want to find</strong> a new job. <br> You <strong>need to practise</strong> every day. <br> When did you <strong>learn to play</strong> the guitar? <br>
                    <strong>Would you like to be</strong> famous?
                </h6>

                <ion-text [innerHTML]="'VERBSINFINITIVE.explanation' | translate"></ion-text>

                <ion-card-header>
                    <ion-card-title>would like to</ion-card-title>
                </ion-card-header>

                <ion-text [innerHTML]="'VERBSINFINITIVE.explanation1' | translate"></ion-text>

                <div class="alert alert-info" role="alert">
                    <strong>would like and like</strong> <br>
                    <ion-text [innerHTML]="'VERBSINFINITIVE.explanation2' | translate"></ion-text>
                    <ion-text [innerHTML]="'VERBSINFINITIVE.explanation3' | translate"></ion-text>
                </div>

            </ion-card>
        </div>
    </ion-content>
</ion-app>