<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Something, anything, nothing, etc.</ion-card-title>
                </ion-card-header>



                <table class="table table-borderless">
                    <tbody>
                        <h6>People</h6>
                        <tr>
                            <th scope="row">[+]</th>
                            <td><strong>Somebody / Someone</strong> has taken my pen!</td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>I didn't speak to <strong>anybody / anyone.</strong></td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td>Did <strong>anybody / anyone</strong> phone?</td>
                        </tr>
                        <tr>
                            <th scope="row">[X]</th>
                            <td>No, <strong>nobody / no one</strong>. <strong>Nobody / no one</strong> phoned.</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-borderless">
                    <tbody>
                        <h6>Things</h6>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>I bought <strong>something</strong> for dinner.</td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>I didn't do <strong>anything</strong> at the weekend.</td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td>Is there <strong>anything</strong> in the fridge?</td>
                        </tr>
                        <tr>
                            <th scope="row">[X]</th>
                            <td>No, <strong>nothing</strong>. There's <strong>nothing</strong> in the fridge.</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-borderless">
                    <tbody>
                        <h6>Place</h6>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>Let's go <strong>somewhere</strong> this weekend.</td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>We didn't go <strong>anywhere</strong> this summer.</td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td>Is there <strong>anywhere</strong> to park?</td>
                        </tr>
                        <tr>
                            <th scope="row">[X]</th>
                            <td>No, <strong>nowhere</strong>. There's <strong>nowhere</strong> to park.</td>
                        </tr>

                    </tbody>
                </table>

                <ul>
                    <li>Use somebody / someone, something, somewhere with a [+] verb when you don't say exactly who, what, or where.</li>
                    <li>Use anybody / anyone, anything, anywhere in questions or with a [-] verb. <br> I <strong>didn't</strong> do <strong>anything</strong> last night.</li>
                    <li>Use nobody / no one, nothing, nowhere in short answers or in sentences with a [+] verb.</li>
                </ul>



            </ion-card>
        </div>
    </ion-content>
</ion-app>