<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading-list"></ion-back-button>
            </ion-buttons>
            <ion-title>Bowling with friends</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>
                    Ann loves to go bowling. That's her favorite activity every Friday nights. This week, she is going to with her new co-workers. Indeed, Ann has a new job as a teacher and she os trying to make new friends since she is new in town. She is excited to share
                    with them her passion for bowling. All day, during the work, all she can think of is the amazing night she is about to have. When the night finally comes and it's time to go, she puts her favorite bowling shoes on and she joins her
                    new friends at the bowling aisle. Anne feels a lot of pressure though because she wants her co-workers to appreciate her. She is new at this job so she hoping to make good impression. When she gets three strikes in a row, she can't
                    believe it. Everyone is impressed by her skills and so is she. Happily, the bowling night is a success and everyone is enjoying the company of Ann.
                </h5>
                <ion-button (click)="textToSpeech(text)">Listen</ion-button>
                <ion-button (click)="textToPause()">Stop</ion-button>

            </ion-slide>

            <ion-slide>
                <h5>Ann gosta de ir jogar boliche. Essa é sua atividade favorita todas as noites de sexta-feira. Essa semana, ela vai com seus novos colegas de trabalho. Na verdade, Ann tem um novo emprego como professora e ela está tentando fazer novos amigos
                    desde que ela é nova na cidade. Ela está animada para compartilhar a eles sua paixão pelo boliche. Todo o dia, durante o trbalho, tudo que ela pode pensar é a noite incrível que ela está prestes a ter. Quando a noite finalmente chega
                    e é hora de ir, ela coloca seus sapatos de boliche favotiros e ela se junta a seus novos amigos no corredor de boliche. Anne sente muita pressão, porque ela quer que seus colegas de trabalho a apreciem. Ela é nova neste trabalho, então
                    ela está esperando fazer uma boa impressão. Quando ela faz três strikes na sequência, ela não pode acreditar. Todo mundo está impressionado com suas habilidades e ela também. Felizmente, a noite de boliche é um sucesso e cada um está
                    apreciando a companhia de Ann.</h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>