<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Plural nouns</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Singular</th>
                            <th scope="col">Plural</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[+]<strong>There is</strong> a garage.</td>
                            <td><strong>There are</strong> some pictures on the wall.</td>
                        </tr>
                        <tr>
                            <td>[-]<strong>There isn't</strong> a swimming pool.</td>
                            <td><strong>There aren't</strong> any plants in the room.</td>
                        </tr>

                        <tr>
                            <td>[?] <strong>Is there</strong> a bathroom downstairs?</td>
                            <td>Are there any neighbours with children?</td>
                        </tr>
                        <tr>
                            <td>[V] Yes, <strong>there is.</strong></td>
                            <td>Yes, <strong>there are.</strong></td>
                        </tr>
                        <tr>
                            <td>[X] No, <strong>there isn't.</strong></td>
                            <td>No, <strong>there aren't.</strong></td>
                        </tr>
                    </tbody>
                </table>

                <h6>there is / there are</h6>
                <ul>
                    <li>We use there is / there are to say that somebody or something exists. We use there is + a singular noun and there are + plural nouns.</li>
                    <li>There is is often contracted to There's. There are is not usually contracted.</li>
                    <li>When we talk about a list of things we use there is if the first word in the list is singular or there are if the first word on the list is plural: <br> In my bedroom <strong>there's a</strong> bed, two chairs, and a desk. <br> In
                        the living room <strong>there are</strong> two armchairs and a sofa.table-secondary
                    </li>
                </ul>

                <h6>a / an, some and any</h6>
                <ul>
                    <li>We often use there is / there are with a / an, some and any.</li>
                    <li>Use some and any with plural nouns. <br> Some = not an exact number.</li>
                    <li>Use some in [+] sentences and any in [-] and [?].</li>
                </ul>
            </ion-card>
        </div>


    </ion-content>
</ion-app>