<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="upper-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Grammar topics IV</ion-title>

        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-card href="pp-continuous">
            <ion-card-header>
                <ion-card-title>Present perfect</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use the present perfect simple: to talk about... </ion-card-content>
        </ion-card>
        <ion-card href="adjective-order">
            <ion-card-header>
                <ion-card-title>Adjective order</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                You can put more than one adjective before a noun... </ion-card-content>
        </ion-card>
        <ion-card href="narrative-tenses">
            <ion-card-header>
                <ion-card-title>Narrative tenses</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use the past simple to talk about consecutive ac... </ion-card-content>
        </ion-card>
        <ion-card href="future-perfect">
            <ion-card-header>
                <ion-card-title>Future perfect and continuous</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use the future perfect to say something will be... </ion-card-content>
        </ion-card>
        <ion-card href="structures-wish">
            <ion-card-header>
                <ion-card-title>Structures after wish</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use wish + person / thing + would to talk about... </ion-card-content>
        </ion-card>
        <ion-card href="be-usedto">
            <ion-card-header>
                <ion-card-title>Used to, be used to, get used to</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                We use used to / didn't use to + infinitive to tal... </ion-card-content>
        </ion-card>
        <ion-card href="senses">
            <ion-card-header>
                <ion-card-title>Verbs of sense</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                The adjectives are always located directly in fr... </ion-card-content>
        </ion-card>
    </ion-content>
</ion-app>