<ion-content>

    <div class="container">

        <div class="img">
            <img src="/assets/img/slogan2.png" width="200px" height="150px">
        </div>
    </div>

    <div class="choose">
        <h3>Escolha a melhor opção para você</h3>
        <h1></h1>
        <ion-button href="beginner" expand="full" fill="outline">Começar do início</ion-button>
        <ion-button href="teste1" expand="full" fill="outline">Fazer teste de nivelamento</ion-button>
    </div>

    <div class="bottom">
    </div>


</ion-content>