<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Structures after wish</ion-card-title>
                </ion-card-header>


                <h5>wish + would / wouldn't</h5>
                <div class="card">
                    <div class="card-body">
                        I wish cyclits <strong>wouldn't cycle</strong> on the pavement! <br> I wish you<strong>'d spend</strong> a bit more time with the children. <br> I wish the bus <strong>would come.</strong> I'm freezing. <br> I wish you <strong>wouldn't leave</strong>                        your shoes there. I almost fell over them.
                    </div>
                </div>

                <h5>We use wish + person / thing + would to talk about things we want to happen, or stop happening because they annoy us.</h5>
                <ul>
                    <li>You can't use wish + would for a wish about yourself.</li>
                </ul>

                <br>

                <h5>wish + past simple or past perfect</h5>
                <div class="card">
                    <div class="card-body">
                        1. I wish <strong>I was</strong> ten years younger! <br> I wish <strong>I could</strong> understand what they're saying. <br> 2. I wish <strong>I hadn't bought</strong> those shoes. I wish <strong>you'd told</strong> me the truth.
                    </div>
                </div>

                <ol>
                    <li>We use wish + past simple to talk about things we would like to be different in the present / future (but which are impossible or unlikely)</li>
                    <li>We use wish + past perfect to talk about things that happened or didn't happen in the past and which you now regret.</li>
                </ol>


            </ion-card>
        </div>
    </ion-content>