<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Reported speech</ion-card-title>
                </ion-card-header>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Direct speech</th>
                            <th scope="col">Reported speech</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">'I love you'</th>
                            <td>He said he loved me</td>
                        </tr>
                        <tr>
                            <th scope="row">'I've just arrived'</th>
                            <td>She said she had just arrived</td>
                        </tr>
                        <tr>
                            <th scope="row">'We'll come at eight'</th>
                            <td>He told me they would come at eight.</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Use reported speech to report (to tell somebody) what another person said.</li>
                    <li>We often introduce reported speech with said or told(+person)</li>
                    <li>After said or told <strong>that</strong> is optional, e.g. He said (that) he loved me.</li>
                    <li>Verb tense change like this:</li>
                </ul>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Direct speech</th>
                            <th scope="col">Reported speech</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">'I can help you.' <br> (present simple)</th>
                            <td>He said he could help me. <br> (past simple)</td>
                        </tr>
                        <tr>
                            <th scope="row">'I'm watching TV.' <br> (present continuous) </th>
                            <td>She said she was watching TV. <br> (past continuous)</td>
                        </tr>
                        <tr>
                            <th scope="row">'I'll phone you.' <br> (will)</th>
                            <td>He told me he would phone me. <br> (would)</td>
                        </tr>
                        <tr>
                            <th scope="row">'I met a girl.' <br> (past simple)</th>
                            <td>John told me he had met a girl. <br> (past perfect)</td>
                        </tr>
                        <tr>
                            <th scope="row">'I've broken my leg.' <br> (present perfect)</th>
                            <td>Sara said she had broken her leg. <br> (past perfect)</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-danger" role="alert">
                    <strong>say or tell?</strong> <br><br> You can use said or tell in reported speech but they are used differently. <br> You can't use said with an object or pronoun. <br> He <strong>said</strong> he loved me. <br> You must use told
                    with an object. <br> He <strong>told me</strong> he loved me.
                </div>

            </ion-card>
        </div>
    </ion-content>
</ion-app>