<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading"></ion-back-button>
            </ion-buttons>
            <ion-title>Lily goes to school</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>Lily goes to school. Lily is so glad! Today it is her first day of school. She can already write and read. Lily puts on her new green dress. Mom makes sandwiches for Lily. Cucumber sandwiches are her favorite. Lily goes to school with
                    her friend Jim. Jim lives next door to Lily. They meet at the corner and go school together. Jim wears a new white shirt and black trousers. Lily has a heavy school bag. Jim helps Lily to carry her bag. Lily and Jim like their school.</h5>
                <ion-button (click)="textToSpeech(text)">Listen</ion-button>
                <ion-button (click)="textToPause()">Stop</ion-button>
            </ion-slide>

            <ion-slide>
                <h5>Lily vai para escola. Lily está tão feliz! Hoje é seu primeiro dia de escola. Ela já pode escrever e ler. Lily coloca seu novo vestido verde. Mamãe faz sanduíches para a Lily. Sanduíches de pepino são os favoritos dela. Lily vai para escolar
                    com seu amigo Jim. Jim mora ao lado de Lily. Eles se encontram na esquina e vão para a escola juntos. Jim usa uma camisa nova branca e calças pretas. Lily tem uma mochila pesada. Jim ajuda Lily a carregar sua mochila. Lily e Jim gostam
                    da sua escola.
                </h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>