<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="testess"></ion-back-button>
            </ion-buttons>
            <ion-title>Practise teste</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="swiper-no-swiping">


        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>She is in my class. ______ name is Rebecca.</h5>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">Her</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">His</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">Your</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">Us</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>



            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>Yesterday _______ Sunday</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">is</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">was</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">are</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">were</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I ______ born in Japan.</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">were</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">----</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">was</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">been</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I watch TV (Present). I ______ TV (Past).</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">watches</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">watch</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">watching</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">watched</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>______ the evening</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">in</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">on</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">at</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">----</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>______ 7:30</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">on</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">in</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">at</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">----</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>______ you work with a computer? (Present)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">did</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">does</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="presentAlert()">do</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="wrongAlert()">will</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>Are they _______ at the moment?</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="showResult()">cook</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()" (click)="showResult()">cooking</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="showResult()">cooked</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="showResult()">cooks</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-content>
</ion-app>