<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Past perfect</ion-card-title>
                </ion-card-header>

                <h6>had / hadn't + past participle</h6>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">[+]</th>
                            <td>When I woke up the garden was all white. <br> It <strong>had snowed</strong>during the night. <br> I suddlenly realize that I<strong>'d left</strong> my mobile in the taxi.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">[-]</th>
                            <td>We got home just in time - the match <strong>hadn't started</strong>. <br> When she got to class, she realized that she <strong>hadn't brought</strong> her book.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">[?]</th>
                            <td> A: I went to Paris last weekend. I really loved it. <br> B: <strong>Had</strong> you <strong>been</strong> there before? A: No, I <strong>hadn't.</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Use the past perfect when you are already talking about the past and want to talk about an earlier past action.
                        <br> When I woke up the garden was all white. It had snowed during the nigh. = It snowed before I woke up.
                    </li>
                    <li>The form of the past perfect is the same for all persons.</li>
                    <li>Had is sometimes contracted to 'd.</li>
                </ul>


            </ion-card>
        </div>
    </ion-content>
</ion-app>