<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="beginner"></ion-back-button>
            </ion-buttons>
            <ion-title>Vocabulary Topics</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <a href="numbers">
            <ion-grid href="numbers">
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/numberrs.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Numbers</h4>
                        <p>Total 11 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>

        <a href="days">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/daysoftheweek.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Days of the week</h4>
                        <p>Total 7 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="continents">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/continents.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Continents</h4>
                        <p>Total 7 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="things">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/things.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Things</h4>
                        <p>Total 26 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="adjective">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/adjectives.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Adjectives</h4>
                        <p>Total 21 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="jobs">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/jobs.png">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Jobs</h4>
                        <p>Total 25 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="family">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/family.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The family</h4>
                        <p>Total 21 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="activities">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/everyday.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Everyday activities</h4>
                        <p>Total 12 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="weather">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/theWeather.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The weather</h4>
                        <p>Total 8 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="house">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/house.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>The house</h4>
                        <p>Total 10 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="food">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/food.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Food</h4>
                        <p>Total 39 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
        <a href="places">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="img">
                        <img src="/assets/img/places.jpg">
                    </ion-col>
                    <ion-col size="7" class="text">
                        <h4>Places and buildings</h4>
                        <p>Total 24 words</p>
                    </ion-col>
                    <ion-col size="1" class="seta">
                        <ion-icon name="arrow-round-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </a>
    </ion-content>
</ion-app>