<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="pre-intermediate"></ion-back-button>
            </ion-buttons>
            <ion-title>Texts</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-content>

        <ion-card href="text11">
            <ion-card-header>
                <ion-card-title>Jenna almost got late</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Jenna is a professional cook and today is her f...
            </ion-card-content>
        </ion-card>
        <ion-card href="text12">
            <ion-card-header>
                <ion-card-title>Bowling with friends</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Ann loves to go bowling. That's her favorite ac... </ion-card-content>
        </ion-card>
        <ion-card href="text13">
            <ion-card-header>
                <ion-card-title>The scary noise</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Lucas works for a very famous manufacturing... </ion-card-content>
        </ion-card>
        <ion-card href="text14">
            <ion-card-header>
                <ion-card-title>A beginning of a love story</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Mylene is a dental assistant and she is still sing... </ion-card-content>
        </ion-card>
        <ion-card href="text15">
            <ion-card-header>
                <ion-card-title>The city who never sleeps</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Florence loves to travel. She has been to many... </ion-card-content>
        </ion-card>
        <ion-card href="text16">
            <ion-card-header>
                <ion-card-title>My first day at school</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Some people likes online classes because you... </ion-card-content>
        </ion-card>
        <ion-card href="text17">
            <ion-card-header>
                <ion-card-title>An eclectic guy</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Xavier is a teenager. He loves to play different... </ion-card-content>
        </ion-card>
        <ion-card href="text18">
            <ion-card-header>
                <ion-card-title>She loves Chocolate</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Tatiana has a cat named Chocolate. Chocolate i... </ion-card-content>
        </ion-card>
        <ion-card href="text19">
            <ion-card-header>
                <ion-card-title>Lights of Christmas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                According to Ruby, the best part about Christm... </ion-card-content>
        </ion-card>
        <ion-card href="text20">
            <ion-card-header>
                <ion-card-title>I want this gift</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Nadine has a nephew. He is the son of her older... </ion-card-content>
        </ion-card>

    </ion-content>
</ion-app>