<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading1"></ion-back-button>
            </ion-buttons>
            <ion-title>He is not here</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <h5>
            They are both 16 years old and they go to the same high school. Tonight, there's a school dance at their school. It's the last one of this school year. Both of them are really excited. Charllote is hoping to meet Ben and to tell him that she likes him.
            Tracy doesn't care about the boys. She just wants to dance all night comes, they are really thrilled. Charllote is wearing a blue dress and Tracy is wearing a yeallow one. When they get there, Charllote is upset. Ben is not here. In fact,
            he is not coming anymore. He has other plans. Charllote decides to dance all night with Tracy instead and to talk with other classmates. She meets new people. It turned out to be a fun night. The music is really good. Hopefully, she is going
            to have another chance to tell Ben about her feelings.
        </h5>

        <ion-button (click)="textToSpeech(text)">Listen</ion-button>
        <ion-button (click)="textToPause()">Stop</ion-button>



    </ion-content>



</ion-app>