<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="vocabulary-upper"></ion-back-button>
        </ion-buttons>
        <ion-title>Feelings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm very <strong>offended</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>A friend doesn't invite you to his wedding</h6>
            <ion-button fill="outline" (click)="offendedToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I feel a bit <strong>homesick</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You go to study abroad and you're missing your family and friends</h6>
            <ion-button fill="outline" (click)="homesickToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm a bit <strong>disappointed</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You don't get a job you were hoping to get</h6>
            <ion-button fill="outline" (click)="disappointedToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm incredibly <strong>pround</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>Someone in your family wins an important prize.</h6>
            <ion-button fill="outline" (click)="proundToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm really <strong>nervous</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You are going to talk in public for the first time</h6>
            <ion-button fill="outline" (click)="nervousToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm very <strong>grateful</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>A stranger gives you a lot of help with a problem</h6>
            <ion-button fill="outline" (click)="gratefulToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm <strong>shocked</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You discover that you have a brother you had never known about</h6>
            <ion-button fill="outline" (click)="shockedToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm so <strong>relieved</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You are abroad and you think someone has stolen your passport, but then you find it.</h6>
            <ion-button fill="outline" (click)="relievedToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I feel a bit <strong>guilty</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You haven't visited your grandparents for a long time</h6>
            <ion-button fill="outline" (click)="guiltyToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>I'm very <strong>lonely</strong></ion-card-title>
        </ion-card-header>

        <div>
            <h6>You move to a new town and don't have any friends</h6>
            <ion-button fill="outline" (click)="lonelyToSpeech(text)">Listen</ion-button>
        </div>
    </ion-card>

</ion-content>