<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Adverbs of manner</ion-card-title>
                </ion-card-header>

                <h6>
                    They drive <strong>dangerously.</strong> <br> He dresses <strong>fashionably.</strong> <br> She eats very <strong>quickly.</strong> <br> I work <strong>hard.</strong> We speal English <strong>well.</strong>
                </h6>

                <ul>
                    <li>We use adverbs of manner to say how people do things.</li>
                    <li>Adverbs usually go after the verb. <br> I speak English <strong>very well</strong>.
                        <strong>NOT</strong> <s>I speak very well English.</s>
                    </li>
                </ul>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>adjective</th>
                            <th>adverb</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                slow <br> quick <br> bad <br> careful
                            </td>
                            <td>
                                slow<strong>ly</strong> <br> quick<strong>ly</strong> <br> bad<strong>ly</strong> <br> careful<strong>ly</strong>
                            </td>
                            <td> <br> <br> + -ly</td>
                        </tr>

                        <tr>
                            <td>healthy <br> easy</td>
                            <td>health<strong>ily</strong> <br> eas<strong>ily</strong></td>
                            <td>consonant + y > -ily</td>
                        </tr>

                        <tr>
                            <td>possible</td>
                            <td>possib<strong>ly</strong></td>
                            <td>le > ly</td>
                        </tr>

                        <tr>
                            <td>good <br> fast <br> hard </td>
                            <td><strong>well <br> fast <br> hard </strong></td>
                            <td>
                                <tr><br> irregular</tr>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <ul>
                    <li>Remember the difference between adjectives and adverbs: <br> I'm a <strong>careful</strong> driver. (careful is an adjective. It describes the noun, driver). <br> I drive <strong>carefully</strong>. (carefully is an adverb. It describes
                        the verb, drive.)
                    </li>
                </ul>

                <ion-card-header>
                    <ion-card-title>Modifying adverbs</ion-card-title>
                </ion-card-header>

                <h6>It isn't <strong>very</strong> expensive. <br> People are <strong>quite</strong> formal. <br> She drives <strong>incredibly</strong> fast. <br> They speak <strong>really</strong> slowly. </h6>

                <ul>
                    <li>
                        We use modifying adverbs with adjectives or other adverbs.
                    </li>
                    <li>
                        They always go before the adjective or adverb.
                    </li>
                </ul>

                <div class="alert alert-info" role="alert">
                    <strong>words ending in -ly</strong> <br> Not all words that end in ly are adverbs, e.g. friendly = adjective. <br> He's a <strong>friendly</strong> person.
                </div>

            </ion-card>
        </div>
    </ion-content>
</ion-app>