ion-toolbar {
    --ion-background-color: #aa7974;
}

ion-title {
    margin-left: 25%;
    color: #ffffff;
}

.bloco {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 10%;
    background-color: #aa7974;
}

ion-card-header {
    background-color: #ffffff;
}

ion-content {
    --ion-background-color: #ffffff;
}

.alert alert-danger {
    margin-top: 20px;
}

ul {
    li {
        color: #000000;
    }
}

h5 {
    margin-top: 5px;
    color: #000000;
}

h4 {
    text-align: center;
    margin-top: 5px;
    color: #be0000;
}

h6 {
    color: black;
}

strong {
    color: black;
}