<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Time sequencers</ion-card-title>
                </ion-card-header>

                <p> On our first date we went to the cinema. <strong>After that</strong> we started meeting every day.
                    <br> On Thursday I had an argument with my boss. <strong>Next day</strong> I decided to look for a new job.
                    <br> We sat down to eat. <strong>Two minutes later</strong> the phone ring.
                    <br> <strong>When</strong> I came out of the club he was waiting for me.
                    <br> The accident happened <strong>when</strong> I was crossing the road.
                </p>



                <div class="alert alert-danger" role="alert">
                    Then, after that <br> The most common way of linking consecutive actions is with then or after that, but <strong>NOT</strong> with after, e.g. I got up and got dressed. <strong>Then/After that</strong> I made a cup of coffee. <strong>NOT</strong>                    After I made a cup of coffee.
                </div>

                <div class="card">
                    <h4 class="card-header">Connectors: because, so, but, although</h4>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>Because and so:</strong></h6>
                                <p class="card-text"> 1. She was driving fast because she was in a hurry. (reason)
                                    <br>2. She was in a hurry, so she was driving fast.

                                    <ul>
                                        <li>Use because to express a reason;</li>
                                        <li>Use so to express a result.</li>

                                    </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>But and although:</strong></h6>
                                <p class="card-text">1. She tried to stop the car, but she hit the man.
                                    <br>2. Although she tried to stop the car, she hit the man.
                                    <br>3. She was very tired, but she couldn't sleep.
                                    <br>4. She couldn't sleep, although she was very tired.</p>
                                <ul>
                                    <li>Use but and although to show a contrast;</li>
                                    <li>Although can go at the beginning or in the middle of a sentence.</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </ion-card>
        </div>


    </ion-content>
</ion-app>