<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Possessives</ion-card-title>
                </ion-card-header>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Subject Pronoun</th>
                            <th>Possessive Adjective</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>I</strong> have a shirt</td>
                            <td><strong>My</strong> shirt is green</td>
                        </tr>
                        <tr>
                            <td><strong>You</strong> have a book</td>
                            <td><strong>Your</strong> book is new</td>
                        </tr>
                        <tr>
                            <td><strong>He</strong> has a pillow</td>
                            <td><strong>His</strong> pillow is soft</td>
                        </tr>
                        <tr>
                            <td><strong>She</strong> has a dog</td>
                            <td><strong>Her</strong> dog is small</td>
                        </tr>

                        <tr>
                            <td><strong>It</strong> has a bone</td>
                            <td><strong>Its</strong> bone is old</td>
                        </tr>

                        <tr>
                            <td><strong>We</strong> have a bird</td>
                            <td><strong>Our</strong> bird is noisy</td>
                        </tr>

                        <tr>
                            <td><strong>You</strong> have a house</td>
                            <td><strong>Your</strong> house is big</td>
                        </tr>

                        <tr>
                            <td><strong>They</strong> have a car</td>
                            <td><strong>Their</strong> car is slow</td>
                        </tr>

                    </tbody>
                </table>

                <ul>
                    <li>The adjectives are always located directly in front of the noun they refer to.</li>
                    <li>We don't include an S to the adjective when the noun is plural like in many other languages.</li>
                    <li>However, the verb that is used needs to be in agreement with the noun - if the noun is singular then the verb is singular; if the noun is plural then the verb is plural.
                        <br>e.g. My pen <strong>is</strong> black. (Singular)<br>e.g. My pens <strong>are</strong> black. (Plural)
                    </li>

                </ul>
            </ion-card>
        </div>
    </ion-content>
</ion-app>