<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openLanguagePopover($event)">
                    <ion-icon name="more" slot="icon-only">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Countable / Uncountable nouns</ion-card-title>
                </ion-card-header>

                <div class="box">
                    <img src="/assets/img/apple.jpg" />
                    <span> an apple </span>
                </div>
                <div class="box">
                    <img src="/assets/img/threeApples.jpg" />
                    <span> three apples </span>
                </div>
                <div class="box">
                    <img src="/assets/img/rice.jpg" />
                    <span> rice </span>
                </div>
                <div class="box">
                    <img src="/assets/img/meat.jpg" />
                    <span> meat </span>
                </div>

                <ion-text [innerHTML]="'COUNTABLE.explanation' | translate"></ion-text>

                <div class="box1">
                    <img src="/assets/img/icecreeam.jpg" />
                    <span> an ice cream (C) </span>
                </div>
                <div class="box1">
                    <img src="/assets/img/someice.jpg" />
                    <span> some ice cream (U) </span>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>countable</th>
                            <th>uncountable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[+] We need</td>
                            <td><strong>an</strong> apple. <br> <strong>some</strong> apples.</td>
                            <td><strong>some</strong> butter.</td>
                        </tr>
                        <tr>
                            <td>[-] We don't need</td>
                            <td><strong>a</strong> tomato. <br> <strong>any</strong> tomatoes.</td>
                            <td><strong>any</strong> sugar?</td>
                        </tr>
                        <tr>
                            <td>[?] Do we need</td>
                            <td><strong>an</strong> orange? <br> <strong>any</strong> oranges?</td>
                            <td><strong>any</strong> sugar?</td>
                        </tr>
                    </tbody>
                </table>

                <ion-text [innerHTML]="'COUNTABLE.explanation2' | translate"></ion-text>


                <div class="alert alert-info" role="alert">
                    <ion-text [innerHTML]="'COUNTABLE.alertinfo' | translate"></ion-text>
                </div>


            </ion-card>
        </div>
    </ion-content>
</ion-app>