<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Should / sh.</ion-card-title>
                </ion-card-header>

                <p>You <strong>should</strong> wear a suit to the interview. <br> I think you <strong>should</strong> change your job. <br> I don't think you <strong>should</strong> speak to her. <br> He's very stressed. He <strong>shouldn't</strong> work
                    so hard. <br> You <strong>shouldn't drink coffee in the evening. It'll keep you awake.</strong>
                </p>



                <ul>
                    <li>Use should / shouldn't + verb (infinitive without to) to give somebody advice or say what you think is the right thing to do.</li>
                    <li>should / shouldn't is the same for all persons.</li>
                    <li>We often use I think should... or I don't think you should...</li>
                </ul>


            </ion-card>
        </div>
    </ion-content>
</ion-app>