<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title>Teste de nivelamento</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="swiper-no-swiping">


        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>My sister is ________ her favorite book. (Present continuous)</h5>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">reads</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">read</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">reading</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">readed</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>



            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>My brother ________ a film yesterday. (Past simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">whatched</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">watches</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">watching</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">watch</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>We _______ any money. (Past simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">did have</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">didn't has</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">didn't have</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">did has</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>He _______ in Fiji in 1976. (Past simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">lived</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">lives</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">living</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">live</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I always _______ the newspaper in the morning.(Present Simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">reads</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">reading</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">read</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">readed</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>She is American, but she's _______ in Canada at present. (Present Continuous)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">lives</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">live</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">lived</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">living</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ in Japan last year. (Past simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">was</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">were</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">been</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">weren't</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>


                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>Are they _______ at the moment? (Present continuous)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">study</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">studying</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">studied</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">studies</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>We generally _______ to Brazil in December. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">travelling</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">traveled</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="acerto()">travel</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="erro()">travels</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

        </ion-slides>
    </ion-content>
</ion-app>