<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="topics-grammar1"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Present simple</ion-card-title>
                </ion-card-header>

                <h6>Forming the Simple Present tense: to think</h6>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Affirmative</th>
                            <th scope="col">Interrogative</th>
                            <th scope="col">Negative</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I think</td>
                            <td>Do I think?</td>
                            <td>I do not think</td>
                        </tr>
                        <tr>
                            <td>You think</td>
                            <td>Do you think?</td>
                            <td>You do not think?</td>
                        </tr>

                        <tr>
                            <td>He thinks</td>
                            <td>Does he think?</td>
                            <td>He does not think</td>
                        </tr>

                        <tr>
                            <td>She thinks</td>
                            <td>Does she think?</td>
                            <td>She does not think</td>
                        </tr>

                        <tr>
                            <td>It thinks</td>
                            <td>Does it think?</td>
                            <td>It does not think</td>
                        </tr>

                        <tr>
                            <td>We think</td>
                            <td>Do we think?</td>
                            <td>We do not think</td>
                        </tr>

                        <tr>
                            <td>They think</td>
                            <td>Do they think?</td>
                            <td>They do not think</td>
                        </tr>
                    </tbody>
                </table>


                <h6>The Simple Present is used to <b>describe habits</b>, <b>unchanging situations</b>, <b>general truths</b>, and <b>fixed arrangements</b>. The simple present tense is simple to form. Just use the base form of the verb: (I take, you take,
                    we take, they take) The 3rd person singular takes an -s at the end: he takes, she takes, etc.</h6>

                <div class="alert alert-danger" role="alert">
                    Be careful! The simple present is not used to express actions happening now.
                </div>

                <div class="card">
                    <h4 class="card-header">Examples</h4>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>For habits:</strong></h6>
                                <p class="card-text"> 1. He drinks tea at breakfast.
                                    <br>2. She only eats fish.
                                    <br>3. They watch television regularly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>For repeated actions or events:</strong></h6>
                                <p class="card-text">1. We catch the bus every morning.
                                    <br>2. It rains every afternoon in the hot season.
                                    <br>3. They drive to Monaco every summer.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>For general truths:</strong></h6>
                                <p class="card-text">1. Water freezes at zero degrees.
                                    <br>2. The Earth revolves around the Sun.
                                    <br>3. Her mother is Peruvian.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><strong>For fixed arrangements:</strong></h6>
                                <p class="card-text">1. His mother arrives tomorrow.
                                    <br>2. Our holiday starts on the 26th March</p>
                            </div>
                        </div>
                    </div>
                </div>

                <h5>Notes on the Simple Present, third person singular:</h5>
                <ul>
                    <li>In the third person singular the verb <strong>always ends in -s</strong>: he want<strong>s</strong>, she need<strong>s</strong>, he give<strong>s</strong>, she think<strong>s</strong>.</li>
                    <li>Negative and question forms use DOES (= the third person of the auxiliary 'DO') + the infinitive of the verb: He wants ice cream. <strong>Does</strong> he want strawberry? He <strong>does</strong> not want vanilla.</li>
                    <li>Verbs ending in <strong>-y</strong>: the third person changes the <strong>-y</strong> to <strong>-ies</strong>: fly --> flies, cry --> cries <br><strong>Exception</strong>: if there is a vowel before the -y: play --> plays, pray -->
                        prays
                    </li>
                    <li>Add <strong>-es</strong> to verbs ending in: <strong>-ss, -x, -sh, -ch</strong>: he passes, she catches, he fixes, it pushes</li>
                </ul>
            </ion-card>
        </div>


    </ion-content>
</ion-app>