<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Present perfect simple and continuous</ion-card-title>
                </ion-card-header>

                <h5>Present perfect simple: have / has + past participle</h5>

                <div class="card">
                    <div class="card-body">
                        1. <strong>Have</strong> you <strong>ever written</strong> a blog? <br> 2. We'<strong>ve</strong> just <strong>landed</strong> but we <strong>haven't got off</strong> the plane yet. <br> I
                        <strong>'ve</strong> already <strong>told</strong> you three times. <br> 3. It's the best book I<strong>'ve</strong> ever <strong>read</strong>. <br> 4. My computer<strong>'s</strong> <strong>crashed</strong>! Look, it<strong>'s started</strong>                        snowing. <br> 5. <strong>I've known</strong> Miriam since I was child. <br> My sister <strong>has had</strong> flu for ten days now. <br> 6. How many Agatha Christie novels <strong>have</strong> you <strong>read</strong>? <br>
                        <strong>They've seen</strong> each other twice this week.
                    </div>
                </div>

                <h6>We use the present perfect simple:</h6>
                <ol>
                    <li>to talk about past experiences when you don't say when something happened.</li>
                    <li>with just, yet, and already.</li>
                    <li>with superlatives and the first, second, last time, etc.</li>
                    <li>for finished actions (when no time is specified) which have present results.</li>
                    <li>with non-actions to say that something started in the past and is still true now</li>
                    <ul>
                        <li>This use is common with time expressions like How long...?, for or since, all day / evening, etc.</li>
                        <li>Don't use the present simple or continuous in this situation: NOT I know Miriam since I was a child</li>
                    </ul>
                    <li>when we say or ask how much/many we have done or how often we have done something up to now.</li>
                </ol>
                <br>

                <h5>present perfect continuous: have / has + been + verb + -ing</h5>

                <div class="card">
                    <div class="card-body">
                        1. How long <strong>have</strong> you <strong>been feeling</strong> ill? <br> He
                        <strong>'s been chatting</strong> online all evening. <br> 2. I <strong>haven't been sleeping</strong> well. It<strong>'s been raining</strong> all day. <br> 3. I<strong>'ve been shopping</strong> all morning. I'm exhausted. <br>
                        <strong>A</strong> Take your shoes off. They're filthy. <br>
                        <strong>B</strong> Yes, I know. I<strong>'ve been working</strong> in the garden.
                    </div>
                </div>

                <h6>We use the present perfect continuous:</h6>

                <ol>
                    <li>with action verbs, to say that an action started in the past and is still happening now.</li>
                    <ul>
                        <li>This use is common with time expressions like How long...?, for since, all day / evening, etc.</li>
                        <li>Don't use the present simple or continuous in this situation.</li>
                    </ul>
                    <li>for repeated actions, especially with a time expression, e.g. all day, recently.</li>
                    <li>for continuous actions which have just finished (but which have present results).</li>
                </ol>
            </ion-card>
        </div>
    </ion-content>