<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title>Teste de nivelamento</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="swiper-no-swiping">


        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>My sister is ________ her favorite book. (Present continuous)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">reads</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">read</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">reading</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">readed</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>My brother ________ a film yesterday. (Past simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">whatched</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">watches</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">watching</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">watch</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary" (click)="mudaCor()">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <h5>I _______ to the gym everyday. (Present simple)</h5>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">goes</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">going</ion-button>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">go</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">went</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>


        </ion-slides>

        <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">Next question</button>




    </ion-content>
</ion-app>

<!--

                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <h5 [innerHTML]="slide.question"></h>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">
                                    {{slides.button1}}
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">
                                    {{slides.button2}}
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button color="primary">
                                    {{slides.button3}}
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="primary">
                                    {{slides.button4}}
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>


                </ion-slide>
            </ion-slides>
        

-->

<!--      <ion-card>

                    <ion-card-title>
                        <h5>Question 1:</h5>
                    </ion-card-title>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" class="img">
                                <h4>My sister _______ a book (Present Simple).</h4>
                            </ion-col>

                        </ion-row>
                    </ion-grid>

                    <ion-grid>
                        <ion-row>
                            <ion-col size="6" class="botao">
                                <ion-button color="primary">read</ion-button>
                            </ion-col>
                            <ion-col size="6" class="botao">
                                <ion-button color="primary">reads</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>


                    <ion-grid>
                        <ion-row>
                            <ion-col size="6" class="botao">
                                <ion-button color="primary">reading</ion-button>
                            </ion-col>
                            <ion-col size="6" class="botao">
                                <ion-button color="primary">readed</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                  </ion-card>
                  -->