        ion-toolbar {
            --ion-background-color: #aa7974;
            text-align: center;
        }
        
        ion-content {
            ion-button {
                height: 100px;
                min-width: 150px;
            }
            a {
                background-color: #aa7974;
                margin-top: 10px;
                color: white;
            }
            button {
                background-color: #aa7974;
                color: white;
                margin-left: 43%;
            }
        }