<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-list"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Expressing movement</ion-card-title>
                </ion-card-header>

                <p>
                    The man <strong>went up</strong> the steps and <strong>into</strong> the church. <br> He <strong>drove out of</strong> the garage and <strong>along</strong> the street. <br> I <strong>ran over</strong> the bridge and <strong>across</strong>                    the park.
                </p>

                <ul>
                    <li>To express movement use a verb of movement, e.g. go, come, run, walk, etc. and a preposition (or adverb) of movement e.g. up, down, away, etc.</li>
                </ul>

                <div class="alert alert-danger" role="alert">
                    <strong>in or into? out or out of?</strong> <br> Remember, use into/out of + noun, and in/out if there isn't a noun. <br> Come <strong>into</strong> the living room. Come <strong>in</strong>. <br> He went <strong>out of</strong> the
                    house. He went <strong>out</strong>.
                </div>


            </ion-card>
        </div>
    </ion-content>
</ion-app>