<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="grammar-upper"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="bloco">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Narrative tenses</ion-card-title>
                </ion-card-header>


                <div class="card">
                    <div class="card-body">
                        1. We <strong>arrived</strong> at the airport and <strong>checked in.</strong> <br> 2. We <strong>were having</strong> dinner when the plane hit some turbulance. <br> At nine o'clock most people on the plane <strong>were reading</strong>                        or <strong>were trying</strong> to sleep. <br> 3. When we arrived at the airport, we suddently realized that we <strong>had left</strong> one of the suitcases in the taxi. <br> 4. We<strong>'d been flying</strong> for about two
                        hours when suddently the captain told us to fasten our seat belts because we were flying into some very bad weather.
                    </div>
                </div>

                <ol>
                    <li>We use the <strong>past simple</strong> to talk about consecutive actions or situations in the past, i.e. for the main events in a story.</li>
                    <li>We use the <strong>past continuous</strong> (was / were + verb + -ing) to describe a longer continuous past action or situation which was in progress when another action happened, or to describe an action or situation that was not
                        complete at a past time.</li>
                    <li>We use the <strong>past perfect</strong> (had + past participle) to talk about the 'earlier past', i.e. things which happened before the main event(s).</li>
                    <li>We use the <strong>past perfect continuous</strong> (had been + verb + -ing) with action verbs to talk about longer continuous actions or situations that started before the main events happened and have continued up to that point.
                        Non-action verbs (e.g. be, have, know, like, etc.) are not normally used in the past continuous or past continuous.</li>
                </ol>




            </ion-card>
        </div>
    </ion-content>