<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="reading-list"></ion-back-button>
            </ion-buttons>
            <ion-title>A beginning of a love story</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-slides pager="true" [options]="slideText">

            <ion-slide>
                <h5>
                    Mylene is a dental assistant and she is stil single. Her friends as well as her co-workers have been trying to introduce her to new people, but she is being very picky. She knows exactly what she wants in a man and it seems like no one is corresponding
                    to what she is looking for. One day, at work, she meets Mike, her new client. At first sight, Mike is not really her type og man. Actually, he is a little bit fat and he has dark hair. When she starts talking with him though, she realizes
                    that they have a lot of things in common. Mike the fat boy was raised on a farm, in the country side, just like her. Also, he likes to watch hockey and he plays in a baseball league, just like her. Mylene is surprising her own self.
                    She is starting to like him. ALthough she knows he is a client, she decides to ask him out. Mike the fat boy is happy and says yes. This is the beginning of a beautiful love story.
                </h5>
                <ion-button (click)="textToSpeech(text)">Listen</ion-button>
                <ion-button (click)="textToPause()">Stop</ion-button>

            </ion-slide>

            <ion-slide>
                <h5>Mylene é assistente de dentista e ainda é solteira. Seus amigos, bem como seus colegas têm tentado apresentá-la a novas pessoas, mas ela está sendo muito exigente. Ela sabe exatamente o que ela quer em um homem e parece que ninguém está
                    correspondendo ao que ela está procurando. Um dia, no trabalho, ela conhece Mike, seu novo cliente. À primeira vista, Mike não é realmente seu tipo de homem. Na verdade, ele é um pouco gordo e tem cabelos escuros. Quando ela começa
                    a conversar com ele, porém, ela percebe que eles têm um monte de coisas em comum. Mikem o cara gordo, foi criado em uma fazenda, no campo, como ela. Além disso, ele gosta de assistir hóquei e ele joga em uma liga de beisebol, assim
                    como ela. Mylene está surpreendida. Ela está começando a gostar dele. Embora ela saiba que ele é um cliente, ela decide convidá-lo para sair. Mike o cara gordo está feliz e diz sim. Este é o começo de uma linda história de amor.</h5>
            </ion-slide>
        </ion-slides>
    </ion-content>



</ion-app>